@use '../mixins/breakpoints' as *;

.page-footer {
  padding: 32px 0;
  @include respond(2xl){
    padding: 64px;
  }
  &__top {
    display: grid;

    @include respond(md) {
      grid-template-columns: auto 260px;
      align-items: start;
    }
    @include respond(2xl) {
      margin-bottom: 2.8rem;
      grid-template-columns: auto 500px;
    }
  }
  &__contacts {
    font-size: 2.25rem;
    margin-bottom: 2rem;
    line-height: 1.1;
    @include respond(md){
      font-size: 2rem;
    }
    @include respond(2xl) {
      font-size: 2.8rem;
      letter-spacing: -0.02rem;
    }
  }
  &__contacts-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    svg {
      transform: rotate(90deg);
      width: 34px;
      @include respond(md){
        transform: none;
        width: 28px;
        height: 24px;
      }
      @include respond(2xl){
        width: 44px;
        height: 38px;
      }
    }
  }
  &__contacts-link {
    font-size: 2.125rem;
    @include respond(md){
      font-size: inherit;
    }
  }
  &__subscribe {
    margin-bottom: 2.5rem;
    @include respond(md){
      margin-bottom: 0;
    }
  }
  &__nav {
    margin-bottom: 4.6rem;
    @include respond(md){
      margin-bottom: 3.2rem;
    }
    @include respond(2xl){
      margin-bottom: 5.6rem;
    }
  }
  &__bottom {
    @include respond(md){
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }
  }
  &__copyright {
    margin-top: 1rem;
    @include respond(md){
      text-align: center;
      padding: 1rem 0;
    }
  }
  &__sphere {
    display: none;
    @include respond(md){
      display: block;
    }
  }
  &__quote {
    display: none;
    @include respond(md){
      display: block;
    }
  }
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.25rem;
  gap: 2.2rem 0;
  @include respond(md) {
    gap: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.375rem;
  }
  @include respond(2xl) {
    font-size: 2rem;
  }
  &__item {
    color: var(--font-color-text);
    font-weight: 500;
    display: block;
    line-height: .8;
  }
  &__link {
    text-decoration: none;
    border-bottom: 1px solid;
    color: inherit;
    @include respond(md){
      border-bottom: 2px solid;
    }
  }
}

.subscribe {
  background: linear-gradient(181deg, #e2e6f6 0%, #ecefff 100%);
  padding: 28px 12px 12px 12px;
  border-radius: 2rem;
  @include respond(md){
    padding: 22px 12px 12px 12px;
    border-radius: 1.25rem;
  }
  @include respond(2xl){
    padding: 40px 12px 12px 12px;
    border-radius: 2rem;
  }
  &__title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    @include respond(md){
      margin-bottom: 1rem;
    }
    @include respond(2xl) {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
   }
}

.sphere {
  aspect-ratio: 2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  color: #fcfef3;
  text-align: center;
  line-height: 1;
  @include respond(md){
    width: 204px;
    height: 204px;
  }
  @include respond(2xl) {
    width: 400px;
    height: 400px;
    font-size: 1.8rem;
  }
  @include respond(3xl) {
    font-size: 2rem;
  }
}