@use '../mixins/breakpoints' as *;

.page-footer {
  padding: 32px 0;
  overflow: hidden;
  @include respond(2xl){
    padding: 64px;
  }
  &__top {
    display: grid;

    @include respond(md) {
      grid-template-columns: auto 260px;
      align-items: start;
    }
    @include respond(2xl) {
      margin-bottom: 2.8rem;
      grid-template-columns: auto 500px;
    }
  }
  &__contacts {
    font-size: 2.25rem;
    margin-bottom: 2rem;
    line-height: 1.1;
    @include respond(md){
      font-size: 2rem;
    }
    @include respond(2xl) {
      font-size: 2.8rem;
      letter-spacing: -0.02rem;
    }
    @include respond(3xl){
      font-size: toRem(70,24);
    }
  }
  &__contacts-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    svg {
      transform: rotate(90deg);
      width: 30px;
      @include respond(md){
        transform: none;
        width: 28px;
        height: 24px;
      }
      @include respond(2xl){
        width: 44px;
        height: 38px;
      }
    }
  }
  &__contacts-link {
    font-size: 2rem;
    @include respond(xs){
      font-size: toRem(34,16);
    }
    @include respond(md){
      font-size: inherit;
    }
  }
  &__subscribe {
    margin-bottom: 2.5rem;
    @include respond(md){
      margin-bottom: 0;
    }
  }
  &__nav {
    margin-bottom: 4.6rem;
    @include respond(md){
      margin-bottom: 3.2rem;
    }
    @include respond(2xl){
      margin-bottom: 5.6rem;
    }
  }
  &__bottom {
    @include respond(md){
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }
  }
  &__copyright {
    margin-top: 1rem;
    @include respond(md){
      text-align: center;
      padding: 1rem 0;
    }
  }
  &__sphere {
    display: none;
    @include respond(md){
      display: block;
    }
  }
  &__quote {
    display: none;
    text-align: right;
    @include respond(md){
      display: block;
    }
  }
}

.sphere-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1.05);
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.25rem;
  gap: 2.2rem 0;
  @include respond(md) {
    gap: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.375rem;
  }
  @include respond(2xl) {
    font-size: toRem(40,20);
  }
  @include respond(3xl) {
    font-size: toRem(54,24);
  }
  &__item {
    color: var(--font-color-text);
    font-weight: 500;
    display: block;
    line-height: .8;
  }
  &__link {
    text-decoration: none;
    border-bottom: 1px solid;
    color: inherit;
    @include respond(md){
      border-bottom: 2px solid;
    }
  }
}

.subscribe {
  background: linear-gradient(181deg, #e2e6f6 0%, #ecefff 100%);
  padding: 28px 12px 12px 12px;
  border-radius: 2rem;
  @include respond(md){
    padding: 22px 12px 12px 12px;
    border-radius: 1.25rem;
  }
  @include respond(2xl){
    padding: 40px 12px 12px 12px;
    border-radius: 2rem;
  }
  &__title {
    text-align: center;
    font-size: toRem(20,20);
    margin-bottom: 1.5rem;
    @include respond(md){
      margin-bottom: 1rem;
    }
    @include respond(2xl) {
      font-size: toRem(30,20);
      margin-bottom: 2rem;
    }
    @include respond(3xl) {
      font-size: toRem(38,24);
    }
   }
}

.sphere {
  aspect-ratio: 2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fcfef3;
  text-align: center;
  line-height: 1;
  position: relative;
  @include respond(md){
    width: 204px;
    height: 204px;
  }
  @include respond(2xl) {
    width: 400px;
    height: 400px;
    font-size: 1.8rem;
  }
  @include respond(3xl) {
    font-size: 2rem;
    width: 528px;
    height: 528px;
  }
  &__text {
    display: block;
    text-align: center;
    @include respond(2xl) {
      font-size: toRem(36,20)
    }
  }
  &__btn {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    transform: translateZ(0);
    border: none;
    padding: 0;
    background: #000;
    cursor: pointer;
    transition: transform 0.2s ease;
    mask-image: radial-gradient(white, black);
    &:active {
      transform: scale(0.95) translateZ(0);
    }
  }
  &__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    text-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }
}

.ripple-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  /* Визуал волны: тонкая светлая линия + свечение */
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);

  pointer-events: none;
  z-index: 10;

  animation: rippleAnim 1.5s cubic-bezier(0, 0.2, 0.5, 1) forwards;
}

/* АНИМАЦИЯ */
@keyframes rippleAnim {
  0% {
    transform: scale(1);
    opacity: 0.8;
    border-width: 4px;
  }
  100% {
    transform: scale(2.2); /* Насколько далеко уйдет волна (2.2x от размера) */
    opacity: 0;
    border-width: 0;
  }
}