@use '../mixins/breakpoints' as *;

.page-footer {
  &__top {
    display: grid;
    grid-template-columns: auto 500px;
    @include respond(2xl) {
      margin-bottom: 2.8rem;
    }
  }
  &__contacts {
    @include respond(2xl) {
      font-size: 2.8rem;
      letter-spacing: -0.02rem;
    }
  }
  &__contacts-title {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  &__nav {
    margin-bottom: 5.6rem;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__copyright {
    text-align: center;
    padding: 1rem 0;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  @include respond(2xl) {

  }
  &__item {
    color: var(--font-color-text);
    font-size: 2rem;
    font-weight: 500;
    display: block;
  }
}

.subscribe {
  background: linear-gradient(181deg, #e2e6f6 0%, #ecefff 100%);
  padding: 40px 12px 12px 12px;
  border-radius: 2rem;
  &__title {
    text-align: center;
    @include respond(2xl) {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
   }
}

.sphere {
  aspect-ratio: 2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  color: #fcfef3;
  text-align: center;
  line-height: 1;
  @include respond(2xl) {
    width: 400px;
    height: 400px;
    font-size: 1.8rem;
  }
  @include respond(3xl) {
    font-size: 2rem;
  }
}