@use '../mixins/breakpoints' as *;

.page-header {
  position: relative;
  @include respond(2xl) {

  }
  @include respond(3xl) {

  }
  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: 24px;
    overflow: hidden;
  }
}



.main-nav {
  &__inner {
    background-color: #fff;
    display: flex;

    border-radius: 0 0 20px 20px;
    max-width: 812px;
    margin: 0 auto;
    padding: 12px 48px 0 48px;
    @include respond(2xl) {
      padding: 12px 24px 0 24px;
      gap: 20px;
    }
    @include respond(3xl) {
      padding: 12px 48px 0 48px;
      gap: 24px;
    }
  }
  &__item {
    text-decoration: none;
    color: inherit;
    padding: 8px 18px 12px 18px;
    display: block;
    line-height: 1;
  }
  &__item--active {

  }
}