@use '../mixins/breakpoints' as *;

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  box-shadow: 3px 3px 19px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 8px;
  @include respond(md){
    width: 36px;
    height: 36px;
  }
}

.logo-company {
  display: flex;
  gap: .5rem;
  align-items: center;
  @include respond(md){

  }
  &__img {
    width: 48px;
    height: 48px;
    @include respond(md){
      width: 36px;
      height: 36px;
    }
  }
  &__text {
    display: none;
    @include respond(md){
      display: block;
    }
  }
}

.page-header {
  position: relative;
  @include respond(2xl) {

  }
  @include respond(3xl) {

  }
  &__nav {
    display: none;
    @include respond(md){
      display: block;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    //overflow: hidden;
    padding: 1rem 0;
    @include respond(md) {
      padding: 0;
      display: grid;
      grid-template-columns: 146px auto;
    }
    @include respond(2xl) {
      grid-template-columns: 1fr auto 1fr;
    }
  }

  &__mobile-menu-btn {
    @include respond(md){
      display: none;
    }
  }
}

.main-nav {
  &__inner {
    background-color: #fff;
    display: flex;
    border-radius: 0 0 20px 20px;
    max-width: 812px;
    margin: 0 auto;

    @include respond(md) {
      padding: 12px 24px 0 24px;
      justify-content: space-between;
    }
    @include respond(2xl) {
      padding: 12px 24px 0 24px;
      gap: 20px;
    }
    @include respond(3xl) {
      padding: 12px 48px 0 48px;
      gap: 24px;
    }
  }
  &__item {
    text-decoration: none;
    color: inherit;
    padding: 8px 18px 12px 18px;
    display: block;
    line-height: 1;
  }
  &__item--active {

  }
}