@use 'sass:map';
@use "sass:math";

// Карта min-width брейкпоинтов (mobile-first)
$breakpoints: (
        xxs: 360px,
        xs: 390px,
        sm: 576px,
        md: 744px,
        lg: 992px,
        xl: 1200px,
        2xl: 1440px,
        3xl: 1920px
);

// Миксин: @include respond(md) { ... }
@mixin respond($point) {
  $value: map.get($breakpoints, $point);

  @if $value {
    @media (min-width: #{$value}) {
      @content;
    }
  } @else {
    @warn "Брейкпоинт `#{$point}` не найден в `$breakpoints`.";
  }
}

// В ремы
$design-base-size: 16;

@function toRem($px, $base: $design-base-size) {
  // Выполняем деление на указанный базовый размер и возвращаем с единицей rem.
  @return math.div($px, $base) * 1rem;
}