---
import Layout from '../layouts/Layout.astro';
import Badge from '../assets/images/badges/hand.png';
import Icon1 from '../assets/images/badges/badge1.webp';
import Icon2 from '../assets/images/badges/badge2.webp';
import Icon3 from '../assets/images/badges/badge3.webp';
---

<Layout>
    <section class="hero">
        <div class="container">
            <div class="hero__title">
                <span class="word-image-2"><span>рынок</span></span>
            </div>
        </div>
    </section>

    <section class="hero hero-3">
        <div class="container">
            <div class="hero__title">
                <span class="word-image-2"><span>рынок</span></span>
            </div>
        </div>
    </section>

    <section class="hero hero-2">
        <div class="container">
            <div class="hero__title">
                <span class="word-image-2"><span>рынок</span></span>
            </div>
        </div>
    </section>

    <!--<section class="hero section section&#45;&#45;v3 hero-2">-->
    <!--    <div class="container">-->
    <!--        <div class="hero__title">-->
    <!--            <span class="word-image-1">бизнес</span> и <span class="word-image-2">рынок</span>-->
    <!--        </div>-->

    <!--    </div>-->
    <!--</section>-->

    <section class="hero section section--v3 hero-3" style="display:none;">
        <div class="container">
            <div class="hero__inner">
                <h1 class="hero__title">Вдохновляем
                    <span class="word-commands">
                    <span class="word-commands__items">
                        <img src="/images/slides/hero/peoples/people3.webp" class="word-commands__item img" alt="">
                        <img src="/images/slides/hero/peoples/people2.webp" class="word-commands__item img" alt="">
                        <img src="/images/slides/hero/peoples/people1.webp" class="word-commands__item img" alt="">
                    </span>
                    <span class="word-commands__text">команду,</span>
                </span>
                    <br>
                     на крутые достижения
                    <svg class="hero__title-icon" width="58" height="51" viewBox="0 0 58 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.10223 28.5761H0V22.4239H6.10223V28.5761ZM7.41397 22.4239H13.5162V28.5761H7.41397V22.4239ZM14.8279 22.4239H20.9302V28.5761H14.8279V22.4239ZM22.2419 22.4239H28.3441V28.5761H22.2419V22.4239ZM29.6559 6.15216V0H35.7581V6.15216H29.6559ZM35.7581 28.5761H29.6559V22.4239H35.7581V28.5761ZM29.6559 44.8478H35.7581V51H29.6559V44.8478ZM37.0698 7.47464H43.1721V13.6268H37.0698V7.47464ZM37.0698 22.4239H43.1721V28.5761H37.0698V22.4239ZM43.1721 43.5201H37.0698V37.3679H43.1721V43.5201ZM50.586 21.0962H44.4838V14.944H50.586V21.0962ZM44.4838 28.5708V22.4186H50.586V28.5708H44.4838ZM44.4838 36.0454V29.8933H50.586V36.0454H44.4838ZM51.8978 22.4239H58V28.5761H51.8978V22.4239Z" />
                    </svg>
                </h1>
            </div>
        </div>
    </section>

</Layout>
