<section class="benefits section section--v2" id="benefits">
    <div class="container">
        <div class="benefits__items">
            <div class="benefits__left">
                <div class="benefits__item slide-1">
                    <h3 class="slide-1__title">
                        Без притворства <br> и спасения<br> мира
                        <svg class="slide-1__icon" width="62" height="58" viewBox="0 0 62 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.8714 41.9277V38.6996H39.1379V35.4768H42.4045V32.2487H45.6692V35.4768H48.9357V32.2487H52.2031V29.0258H48.9357H45.6692V25.7977V22.5748H48.9357H52.2031H55.4723V19.3529H52.2031H48.9357V16.1248H52.2031H55.4723H58.7379H62V12.9019V9.67381V6.45096V3.22285H58.7361V0H55.4705H52.2013H48.9339H45.6674H42.4027H39.1362H35.8714V3.22285H32.6049V6.45096V9.67381V12.9019V16.1248V19.3529H29.3411V22.5757H26.0719V25.7986H22.808V29.0267H19.5389V32.1892V32.2487H16.275H13.0661H13.0058H9.79689V29.0258H6.53303V25.7977H3.26386V22.5748V19.3529H0V22.5757V25.7986V29.0267V32.2495H3.26386V35.4776H6.53303V38.7005H9.79689V41.9286H13.0058V45.0972H16.275V45.1514V48.3201H19.5389H19.5575V51.549V54.7719V58H22.8213H26.0905V54.7719H22.8213V51.549V48.3857H26.0728V45.1576H29.3419V48.3857H32.6058V51.549V54.7719H32.5872V58H35.8564H39.1202V54.7719H35.8714V51.549V48.3857V48.3192V45.1567V41.9338M39.1379 12.9019V9.67381H42.4045V12.9019H39.1379Z" fill="black" />
                            <path d="M35.8714 41.9277V38.6996H39.1379V35.4768H42.4045V32.2487H45.6692V35.4768H48.9357V32.2487H52.2031V29.0258H48.9357H45.6692V25.7977V22.5748H48.9357H52.2031H55.4723V19.3529H52.2031H48.9357V16.1248H52.2031H55.4723H58.7379H62V12.9019V9.67381V6.45096V3.22285H58.7361V0H55.4705H52.2013H48.9339H45.6674H42.4027H39.1362H35.8714V3.22285H32.6049V6.45096V9.67381V12.9019V16.1248V19.3529H29.3411V22.5757H26.0719V25.7986H22.808V29.0267H19.5389V32.1892V32.2487H16.275H13.0661H13.0058H9.79689V29.0258H6.53303V25.7977H3.26386V22.5748V19.3529H0V22.5757V25.7986V29.0267V32.2495H3.26386V35.4776H6.53303V38.7005H9.79689V41.9286H13.0058V45.0972H16.275V45.1514V48.3201H19.5389H19.5575V51.549V54.7719V58H22.8213H26.0905V54.7719H22.8213V51.549V48.3857H26.0728V45.1576H29.3419V48.3857H32.6058V51.549V54.7719H32.5872V58H35.8564H39.1202V54.7719H35.8714V51.549V48.3857V48.3192V45.1567V41.9338M39.1379 12.9019V9.67381H42.4045V12.9019H39.1379Z" fill="url(#paint0_linear_3375_3525)" />
                            <defs>
                                <linearGradient id="paint0_linear_3375_3525" x1="22.7925" y1="9.43374" x2="32.9944" y2="65.7474" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#C6C9EC" />
                                    <stop offset="0.543315" stop-color="#EED2EC" />
                                    <stop offset="1" stop-color="#D9DBF2" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </h3>
                    <p class="slide-1__text">Наше видение весьма простое — продолжать создавать полезные инструменты для бизнеса, помогать достигать большего и развивать партнерские отношения на равных.</p>
                </div>
            </div>
            <div class="benefits__right">

                <div class="benefits__item slide-2">
                    <div class="slide-2__inner">
                        <div class="slide-2__header">
                            <div class="slide-2__value" id="counter-5000">5000</div>
                            <div class="slide-2__value-text">клиентов</div>
                            <div class="slide-2__text">компаний, предпринимателей <br> и специалистов</div>
                        </div>
                        <div class="slide-2__img">
                            <img class="img" src="/images/slides/cat.webp" alt="">
                        </div>
                    </div>
                </div>

                <div class="benefits__item slide-2">
                    <div class="slide-2__inner">
                        <div class="slide-2__header">
                            <div class="slide-2__value" id="counter-99-5">99,5%</div>
                            <div class="slide-2__value-text">нас рекомендуют</div>
                            <div class="slide-2__text">0,5 % хейтят,<br> но мы их тоже любим</div>
                        </div>
                        <div class="slide-2__img">
                            <img class="img" src="/images/slides/hand.webp" alt="">
                        </div>
                    </div>
                </div>

                <div class="benefits__item slide-3">
                    <img class="img" src="/images/slides/pavel.webp" alt="">
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    window.addEventListener("load", () => {
        const benefitsSection = document.querySelector("#benefits");
        const leftColumn = benefitsSection.querySelector(".benefits__left");
        const rightColumn = benefitsSection.querySelector(".benefits__right");
        
        // Главный ScrollTrigger для фиксации левой колонки
        ScrollTrigger.create({
            trigger: benefitsSection,
            start: "top top",
            end: () => `bottom bottom`, // Фиксируем до конца секции
            pin: leftColumn,
            anticipatePin: 1, // Предотвращает дергание в начале
        });

        // Получаем все панели в правой колонке
        const panels = gsap.utils.toArray(".benefits__right .benefits__item");

        // Для каждой панели (кроме последней) создаем свою анимацию
        panels.forEach((panel, i) => {
            if (i < panels.length - 1) {
                const nextPanel = panels[i + 1];

                gsap.fromTo(panel, 
                    { scale: 1, y: 0 }, 
                    {
                        scale: 0.9,
                        y: -40,
                        ease: "none",
                        scrollTrigger: {
                            trigger: nextPanel,
                            start: "top bottom",
                            end: "top top",
                            scrub: 1,
                            invalidateOnRefresh: true,
                        }
                    }
                );
            }
        });
        // Анимация счетчика
        const counter = document.querySelector("#counter-5000");
        gsap.fromTo(counter, 
            { innerText: 1000 }, 
            {
                innerText: 5000,
                duration: 2,
                snap: { innerText: 1 }, // Увеличиваем целыми числами
                scrollTrigger: {
                    trigger: counter,
                    start: "top 80%", // Начать, когда элемент на 80% виден
                    toggleActions: "play none none none" // Запустить один раз
                }
            }
        );
        // Анимация счетчика 99,5%
        const counter2 = document.querySelector("#counter-99-5");
        const counter2Proxy = { val: 0 }; // Прокси-объект для анимации
        gsap.to(counter2Proxy, {
            val: 99.5,
            duration: 2,
            scrollTrigger: {
                trigger: counter2,
                start: "top 80%",
                toggleActions: "play none none none"
            },
            onUpdate: () => {
                // Обновляем текст, заменяя точку на запятую
                counter2.innerText = counter2Proxy.val.toFixed(1).replace('.', ',') + '%';
            }
        });
    });
</script>