---
import iconDino from "../../assets/icons/dino.svg?raw";
import Badge from "../../assets/images/badges/hand3.png";
import {Image} from "astro:assets";
---
<section class="benefits section section--v2" id="benefits">
    <div class="container">
        <div class="benefits__items">
            <div class="benefits__left">

                <div class="slide-1">
                    <div class="slide-1__header">
                        <div class="slide-1__badge">
                            <div class="icon-badge icon-badge--v2">
                                <div class="icon-badge__icon">
                                    <div class="icon-badge__icon-wrp">
                                        <Image
                                            src={Badge}
                                            alt=""
                                            format="webp"
                                            quality={90}
                                            class="img icon-badge__icon-src pulse"
                                        />
                                    </div>
                                </div>
                                <div class="icon-badge__text">честно и открыто<br> для всего рынка</div>
                            </div>
                        </div>
                        <div class="slide-1__header-box"></div>
                    </div>
                    <div class="slide-1__content">
                        <h3 class="slide-1__title">
                            Без притворства <br> и спасения<br> мира
                            <span class="slide-1__icon" set:html={iconDino}></span>
                        </h3>
                        <p class="slide-1__text">Наше видение весьма простое — продолжать создавать полезные инструменты для бизнеса, помогать достигать большего и развивать партнерские отношения на равных.</p>
                    </div>
                </div>



            </div>
            <div class="benefits__right">

                <div class="benefits__item slide-2">
                    <div class="slide-2__inner">
                        <div class="slide-2__header">
                            <div class="slide-2__value" id="counter-5000">5000</div>
                            <div class="slide-2__value-text">клиентов</div>
                            <div class="slide-2__text">компаний, предпринимателей <br> и специалистов</div>
                        </div>
                        <div class="slide-2__img">
                            <img class="img" src="/images/slides/cat.webp" alt="">
                        </div>
                    </div>
                </div>

                <div class="benefits__item slide-2 slide-2--v2">
                    <div class="slide-2__inner">
                        <div class="slide-2__header">
                            <div class="slide-2__value" id="counter-99-5">99,5%</div>
                            <div class="slide-2__value-text">нас рекомендуют</div>
                            <div class="slide-2__text">0,5 % хейтят,<br> но мы их тоже любим</div>
                        </div>
                        <div class="slide-2__img">
                            <img class="img" src="/images/slides/hand.webp" alt="">
                        </div>
                    </div>
                </div>

                <div class="benefits__item slide-3">
                    <img class="img" src="/images/slides/pavel.webp" alt="">
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    // import { gsap } from "gsap";
    // import { ScrollTrigger } from "gsap/ScrollTrigger";
    //
    // gsap.registerPlugin(ScrollTrigger);
    //
    // window.addEventListener("load", () => {
    //     const benefitsSection = document.querySelector("#benefits");
    //     const leftColumn = benefitsSection.querySelector(".benefits__left");
    //     const rightColumn = benefitsSection.querySelector(".benefits__right");
    //
    //     // Главный ScrollTrigger для фиксации левой колонки
    //     ScrollTrigger.create({
    //         trigger: benefitsSection,
    //         start: "top top",
    //         end: () => `bottom bottom`, // Фиксируем до конца секции
    //         pin: leftColumn,
    //         anticipatePin: 1, // Предотвращает дергание в начале
    //     });
    //
    //     // Получаем все панели в правой колонке
    //     const panels = gsap.utils.toArray(".benefits__right .benefits__item");
    //
    //     // Для каждой панели (кроме последней) создаем свою анимацию
    //     panels.forEach((panel, i) => {
    //         if (i < panels.length - 1) {
    //             const nextPanel = panels[i + 1];
    //
    //             gsap.fromTo(panel,
    //                 { scale: 1, y: 0 },
    //                 {
    //                     scale: 0.9,
    //                     y: -40,
    //                     ease: "none",
    //                     scrollTrigger: {
    //                         trigger: nextPanel,
    //                         start: "top bottom",
    //                         end: "top top",
    //                         scrub: 1,
    //                         invalidateOnRefresh: true,
    //                     }
    //                 }
    //             );
    //         }
    //     });
    //
    //     // Анимация счетчика
    //     const counter = document.querySelector("#counter-5000");
    //     gsap.fromTo(counter,
    //         { innerText: 1000 },
    //         {
    //             innerText: 5000,
    //             duration: 2,
    //             snap: { innerText: 1 }, // Увеличиваем целыми числами
    //             scrollTrigger: {
    //                 trigger: counter,
    //                 start: "top 80%", // Начать, когда элемент на 80% виден
    //                 toggleActions: "play none none none" // Запустить один раз
    //             }
    //         }
    //     );
    //
    //     // Анимация счетчика 99,5%
    //     const counter2 = document.querySelector("#counter-99-5");
    //     const counter2Proxy = { val: 0 }; // Прокси-объект для анимации
    //     gsap.to(counter2Proxy, {
    //         val: 99.5,
    //         duration: 2,
    //         scrollTrigger: {
    //             trigger: counter2,
    //             start: "top 80%",
    //             toggleActions: "play none none none"
    //         },
    //         onUpdate: () => {
    //             // Обновляем текст, заменяя точку на запятую
    //             counter2.innerText = counter2Proxy.val.toFixed(1).replace('.', ',') + '%';
    //         }
    //     });
    // });
</script>