<section class="section company-model">

        <div class="company-model__inner">
            <div class="container">
                <div class="section__header">
                    <h2 class="section__title">Сейлзово-центричная компания</h2>
                    <p class="">Мы вывернули систему управления наизнанку. Менеджер по продажам <br> становится первым человеком в компании после клиента. Энергия <br> активных продаж — наш драйвер, и каждый отдел построен вокруг нее.</p>
                </div>
            </div>

            <div class="company-model__orbit">
                <div class="orbit">
                    <div class="orbit__item orbit__item--1">

                    </div>
                    <div class="orbit__item orbit__item--2">

                    </div>
                    <div class="orbit__item orbit__item--3">

                    </div>
                    <div class="orbit__station">

                    </div>


                    <div class="orbit-box orbit-box--1">
                        <div class="orbit-box__header">
                            <div class="orbit-box__title">Поддержка <br> и система</div>
                        </div>
                        <div class="orbit-box__content">
                            <ul class="orbit-box__list list list-marker">
                                <li>IT-support</li>
                                <li>Отдел контроля качества</li>
                                <li>Разработка</li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <div class="company-model__footer">
                <a class="btn btn--main">Присоединиться к команде</a>
            </div>
        </div>

</section>