---
import icon from "../../../assets/icons/arrow-bottom.svg?raw";
---
<section class="section video-company" id="video-company">
    <div class="container">
        <div class="video-company__inner">
            <div class="video-company__header">
                <div set:html={icon}/>
                <h2 class="section__title">Видео от первых чуваков компании</h2>
            </div>
            <div class="video-company__video">
                <div class="video-card">
                    <iframe
                            src="https://kinescope.io/embed/rszp5JFpNdY5pTWd2dPE3u"
                            frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
                            title="Video Player"
                            loading="lazy"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</section>