@use 'common/variables';
@use 'common/base';
@use 'common/fonts';

@use 'layout/header';
@use 'layout/footer';

@use 'modules/buttons';
@use 'modules/forms';
@use 'modules/animations';

@use 'modules/mobilemenu';
@use 'modules/badges';
@use 'modules/boxes';
@use 'modules/hero';
@use 'modules/cards';
@use 'modules/carousel';
@use 'modules/tickets';
@use 'modules/benefits';
@use 'modules/slider';
@use 'modules/path';
@use 'modules/culture';



.slider,
.benefits {
  display: none;
}

// .hero, .page-footer,