---
import { Image } from "astro:assets";
import imgSuccess from "../assets/images/tickets/success.jpg";

interface Props {
    id?: string;
}

const { id = "modal-success" } = Astro.props;
---

<div class="modal micromodal-slide" id={id} aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div
            class="modal__container"
            role="dialog"
            aria-modal="true"
            aria-labelledby={`${id}-title`}
        >
            <div class="order">
                <div class="order__inner">
                    <button
                        class="modal__close icon-close"
                        type="button"
                        aria-label="Закрыть"
                        data-micromodal-close></button>

                    <div class="order__success">
                        <div class="order__success-media">
                            <Image
                                src={imgSuccess}
                                alt="Успешно"
                                format="webp"
                                quality={90}
                                class="img order__success-img"
                            />
                        </div>
                        <div class="order__success-content">
                            <h2
                                class="order__title order__success-title"
                                id={`${id}-title`}
                            >
                                Поймали, скоро вернёмся! 👌
                            </h2>
                            <a
                                href="/"
                                class="order__submit-btn btn btn--main btn--v3"
                                >Перейти на главную</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
