---
import img from "../../../assets/images/request/1.png";
import { Image } from "astro:assets";
---
<section class="request section section--v4">
    <div class="container">
        <div class="request__inner">
            <div class="request__media">
                <Image
                        src={img}
                        alt=""
                        format="webp"
                        quality={90}
                        class="img request__media-img"
                />
            </div>
            <div class="request__content">
                <div class="request__header order__header">
                    <h3 class="request__title order__title">Мечтай об единороге</h3>
                    <p class="order__text">Готов подать заявку? Опиши три пункта, чтобы мы начали знакомство</p>
                </div>
                <form class="order__form">
                    <div class="order__fields">
                        <div class="order__field form-row">
                            <label class="order__field-label">Идея</label>
                            <input
                                    type="text"
                                    class="order__input input input-v1"
                                    placeholder="Продуктовое видение, на чем базируется?"
                                    required
                            />
                        </div>
                        <div class="order__field form-row">
                            <label class="order__field-label">Твой опыт</label>
                            <input
                                    type="text"
                                    class="order__input input input-v1"
                                    placeholder="Чем ты занимался ранее, в чем эксперт?"
                                    required
                            />
                        </div>
                        <div class="order__field form-row">
                            <label class="order__field-label">Финмодель</label>
                            <input
                                    type="text"
                                    class="order__input input input-v1"
                                    placeholder="На чем будем зарабатывать? Какие риски видишь?"
                                    required
                            />
                        </div>
                        <div class="order__field form-row">
                            <label class="order__file-btn" for="order-file">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 11.6813C1.0875 11.6813 0.7345 11.5345 0.441 11.241C0.1475 10.9475 0.0005 10.5943 0 10.1813V8.68126C0 8.46876 0.0720001 8.29076 0.216 8.14726C0.36 8.00376 0.538 7.93176 0.75 7.93126C0.962 7.93076 1.14025 8.00276 1.28475 8.14726C1.42925 8.29176 1.501 8.46976 1.5 8.68126V10.1813H10.5V8.68126C10.5 8.46876 10.572 8.29076 10.716 8.14726C10.86 8.00376 11.038 7.93176 11.25 7.93126C11.462 7.93076 11.6402 8.00276 11.7847 8.14726C11.9292 8.29176 12.001 8.46976 12 8.68126V10.1813C12 10.5938 11.8533 10.947 11.5597 11.241C11.2662 11.535 10.913 11.6818 10.5 11.6813H1.5ZM5.25 2.56876L3.84375 3.97501C3.69375 4.12501 3.51575 4.19701 3.30975 4.19101C3.10375 4.18501 2.9255 4.10676 2.775 3.95626C2.6375 3.80626 2.5655 3.63126 2.559 3.43126C2.5525 3.23126 2.6245 3.05626 2.775 2.90626L5.475 0.206261C5.55 0.131261 5.63125 0.0782613 5.71875 0.0472613C5.80625 0.0162613 5.9 0.000511539 6 1.15386e-05C6.1 -0.000488461 6.19375 0.0152613 6.28125 0.0472613C6.36875 0.0792613 6.45 0.132261 6.525 0.206261L9.225 2.90626C9.375 3.05626 9.447 3.23126 9.441 3.43126C9.435 3.63126 9.363 3.80626 9.225 3.95626C9.075 4.10626 8.897 4.18451 8.691 4.19101C8.485 4.19751 8.30675 4.12551 8.15625 3.97501L6.75 2.56876V7.93126C6.75 8.14376 6.678 8.32201 6.534 8.46601C6.39 8.61001 6.212 8.68176 6 8.68126C5.788 8.68076 5.61 8.60876 5.466 8.46526C5.322 8.32176 5.25 8.14376 5.25 7.93126V2.56876Z" fill="#101651"/>
                                </svg>
                                <span class="order__file-name">Прикрепить файл</span>
                            </label>
                            <input
                                    type="file"
                                    id="order-file"
                                    class="order__file-input"
                            />
                        </div>
                    </div>
                    <button
                            type="submit"
                            class="order__submit-btn btn btn--main btn--v3"
                    >Подать заявку</button
                    >
                    <p class="order__privacy">
                        Нажимая на кнопку, вы даете согласие <br />
                        на обработку <a
                            href="/privacy_policy/"
                            class="order__privacy-link link link--color-2"
                    >персональных данных</a
                    >
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const fileInput = document.getElementById('order-file') as HTMLInputElement;
    const fileName = fileInput?.closest('.order__field')?.querySelector('.order__file-name');

    fileInput?.addEventListener('change', () => {
        if (fileName) {
            fileName.textContent = fileInput.files?.[0]?.name || 'Прикрепить файл';
        }
    });
</script>
