---
import '../styles/main.scss'
import MobileMenu from "../components/sections/MobileMenu.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kibermatika</title>
	</head>
	<body>
		<div class="wrapper">
			<slot />
			<MobileMenu />
		</div>
		<script src="../scripts/main.js"></script>
	</body>
</html>