@use '../../mixins/breakpoints' as *;
@include respond(md){}
@include respond(2xl){}
@include respond(3xl){}

.info-pills {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  &__row {

  }
}

.pill {
  display: inline-flex;
  align-items: center;
  border: 2px solid #dbdfff;
  height: 60px;
  border-radius: 30px;
  font-size: toRem(18,16);
  padding-inline: 22px;
  @include respond(md){
    height: 42px;
    border-radius: 21px;
    //font-size: toRem(18,20);
  }
  @include respond(2xl){
    height: 68px;
    border-radius: 34px;
    font-size: toRem(30,20);
    padding-inline: 30px;
  }
  @include respond(3xl){
    height: 68px;
    border-radius: 34px;
    font-size: toRem(30,20);
  }
  &__link {
    display: flex;
  }
}

.pill--v1 {

}

.pill--v2 {
  background: linear-gradient(90deg, #ff00f1 0%, #ff60f6 0%, #ffcefc 75.49%, #ffaefb 100%), #fff;
  border: none;
}

.pill--v3 {
  --c-bg-start: #FFFFFF;
  --c-bg-mid:   #F0F8FF;
  --c-bg-end:   #90CFFF;
  --c-border-start: #FFFFFF;
  --c-border-end:   #6EB8FA;

  transform: rotate(-2deg);
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow:
          0 4px 20px -2px rgba(144, 207, 255, 0.3),
          0 1px 2px rgba(0, 0, 0, 0.02);
  background-image:
          linear-gradient(105deg, var(--c-bg-start) 10%, var(--c-bg-mid) 25%, var(--c-bg-end) 100%),
          linear-gradient(105deg, var(--c-border-start) 0%, var(--c-border-end) 100%);
}

.pill--v4 {
  background: linear-gradient(311deg, #d9e1ff 0%, #f7f8fd 100%), #eef1f9;
  border: none;
}

.pill--v6 {
  background: linear-gradient(90deg, #94ffa6 0%, #e8ff79 100%), #fff;
  border: none;
}
