@use '../../mixins/breakpoints' as *;

@include respond(md){}
@include respond(2xl){}
@include respond(3xl){}

.video-company {
  &__header {
    text-align: center;
  }
  &__video {

  }
  .section__title {
    margin: 20px 0 40px 0;
  }
}

.video-card {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  @include respond(md){

  }
  @include respond(2xl){
    border-radius: 24px;
  }
  @include respond(3xl){

  }
  & iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
  }
}