@use '../../mixins/breakpoints' as *;

.team {
  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: 60px;
    gap: 10px;

    @include respond(md) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-auto-rows: 62px;
      gap: 12px;
    }

    @include respond(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-auto-rows: 60px;
      gap: 24px;
    }
  }
}

.team-grid__item {
  width: 100%;
  min-height: 100%;
}

.team-grid-card {
  border-radius: 24px;
  //overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    font-size: .85rem;
    padding: 12px 16px;
    max-width: 74%;
    z-index: 2;
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
  }
}

.team-grid__item--p1 {
  grid-row: span 8;
  background-color: #cfe4ff;
  .team-grid-card__image {
    width: calc(100% + 24px);
    max-width: calc(100% + 24px);
    left: -12px;
  }
  .team-grid-card__title {
    right: 0;
    left: initial;
  }
}

.team-grid__item--p2 {
  grid-row: span 8;
  background-color: #ffc6e5;
  .team-grid-card__image {
    width: calc(100% + 24px);
    max-width: calc(100% + 24px);
    right: -64px;
    z-index: 1;
  }
}

.team-grid__item--p3 {
  grid-row: span 4;
  background-color: #cdd6ff;
  .team-grid-card__image {
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  .team-grid-card__title {
    right: 0;
    left: initial;
  }
}

.team-grid__item--p4 {
  grid-row: span 4;
  background-color: #f3dbdc;
  .team-grid-card__image {
    max-width: 80%;
    right: 0;
  }
}

.team-grid__item--p5 {
  grid-row: span 8;
  grid-column: span 2;
  background-color: #ede5ff;
  .team-grid-card__image {
    width: calc(100% + 24px);
    max-width: calc(100% + 24px);
    right: -64px;
  }
}

.team-grid__item--p6 {
  grid-row: span 8;
  background-color: #f0e7ff;
  .team-grid-card__image {
    width: calc(100% + 24px);
    max-width: calc(100% + 24px);
    left: 50%;
    transform: translateX(-50%);
  }
  .team-grid-card__title {
    right: 0;
    left: initial;
  }
}

.team-grid__item--p7 {
  grid-row: span 4;
  background-color: #ffc9b7;
  .team-grid-card__image {
    max-width: 54%;
    left: 50%;
    transform: translateX(-50%);
  }
  .team-grid-card__title {
    right: 0;
    left: initial;
  }
}

.team-grid__item--p8 {
  grid-column: span 2;
  grid-row: span 4;
  background-color: #f3e5f4;
  .team-grid-card__image {
    max-width: 84%;
    left: 50%;
    transform: translateX(-50%);
  }
  .team-grid-card__title {
    right: 0;
    left: initial;
  }
}

.team-grid__item--p9 {
  grid-row: span 4;
  background-color: #d0f6ec;
  .team-grid-card__image {
    max-width:94%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.team-grid__item--p10 {
  grid-row: span 8;
  background-color: #b4ecfe;
  .team-grid-card__title {
    top: 0;
    bottom: initial;
  }
}

.team-grid__item--p11 {
  grid-column: span 2;
  grid-row: span 8;
  background-color: #eef2fe;
  .team-grid-card__title {
    right: 0;
    left: initial;
  }
}

.team-grid__item--p12 {
  grid-row: span 8;
  background-color: #eef2fe;
  .team-grid-card__title {
    right: 0;
    left: initial;
    top: 0;
    bottom: initial;
  }
}

.team-grid__item--p13 {
  grid-row: span 8;
  background-color: #e6f5ff;
  .team-grid-card__image {
    max-width: 86%;
    left: 50%;
    transform: translateX(-50%);
  }
  .team-grid-card__title {
    top: 0;
    bottom: initial;
  }
}

.team-grid__item--p14 {
  grid-row: span 8;
  background-color: #ede5ff;
  .team-grid-card__image {
    width: calc(100% + 24px);
    max-width: calc(100% + 24px);
    left: 50%;
    transform: translateX(-50%);
  }
  .team-grid-card__title {
    top: 14%;
    bottom: initial;
  }
}

.team-grid__item--p15 {
  grid-row: span 8;
  grid-column: span 2;
  background-color: #ffd4c7;
  .team-grid-card__image {
    max-width: 74%;
    left: -32px;
  }

}

.team-grid__item--p16 {
  grid-row: span 4;
  background-color: #f9e5d8;
  .team-grid-card__image {
    max-width: 82%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.team-grid__item--p17 {
  grid-column: span 2;
  grid-row: span 4;
  background-color: #ffe8f4;
  .team-grid-card__image {
    max-width: 62%;
    left: 50%;
    transform: translateX(-50%);
  }
  .team-grid-card__title {
    right: 0;
    left: initial;
  }
}

.team-grid__item--p18 {
  grid-row: span 4;
  background-color: #e6f5ff;
  .team-grid-card__image {
    max-width: 86%;
    left: 50%;
    transform: translateX(-50%);
  }
}


@include respond(md) {
  .team-grid__item--p8,
  .team-grid__item--p11,
  .team-grid__item--p17 {
    grid-column: span 2;
  }
}

@media (max-width: 743px) {
  .team-grid__item--p8,
  .team-grid__item--p11,
  .team-grid__item--p17 {
    grid-column: span 2;
  }
}

.team-grid-card--c1 { background-color: #c7dcf2; } // pastel blue
.team-grid-card--c2 { background-color: #efc0df; } // pastel pink
.team-grid-card--c3 { background-color: #d9cdea; } // soft lilac
.team-grid-card--c4 { background-color: #bfe4df; } // mint
.team-grid-card--c5 { background-color: #efc6ba; } // peach
.team-grid-card--c6 { background-color: #d5dbe8; } // cool gray


:root {
  --radius: 24px;
}

.radius-block {

}

.radius-block--br {
  border-radius: var(--radius) 0 0 0;

  &:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: -16px;
    bottom: 0;
    background-image: radial-gradient(
        circle at 0 0,
        transparent 16px,
        #fff 16.5px
    );

    @include respond(2xl){
      width: 24px;
      height: 24px;
      left: -23px;
      background-image: radial-gradient(
          circle at -1px 0,
          transparent 24px,
          #fff 24.5px
      );
    }

  }
  &:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: -23px;
    background-image: radial-gradient(
        circle at -1px -1px,
        transparent 24px,
        #fff 24.5px
    );
    @include respond(2xl){
      width: 24px;
      height: 24px;
      top: -23px;
      background-image: radial-gradient(
          circle at -1px 0,
          transparent 24px,
          #fff 24.5px
      );
    }
  }

}

.radius-block--bl {
  border-radius: 0 var(--radius) 0 0;
}

.radius-block--tl {
  border-radius: 0 0 var(--radius) 0;
}

.radius-block--tr {
  border-radius: 0 0 0 var(--radius);
}

.radius-block--ml {
  border-radius: 0 var(--radius) var(--radius) 0;
}