@use '../mixins/breakpoints' as *;

.benefits {
  &__items {
    display: grid;
    align-items: flex-start;
    max-width: 500px;
    margin: auto;
    @include respond(md){
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      max-width: 100%;
    }
    @include respond(2xl){
      gap: 20px;
    }
  }

  &__item {

    display: flex;
    flex-direction: column;
    justify-content: space-between;



  }

  &__item-inner {
    background-color: #fff;
    box-shadow: var(--card-box-shadow);
    border-radius: 32px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: 42px 12px 0 12px;
    @include respond(xs){
      //aspect-ratio: 524/330;
    }
    @include respond(md){
      padding: 2rem 1rem 0 1rem;
      aspect-ratio: 1/1;
    }
    @include respond(2xl){
      padding: 3rem 3rem 0 3rem;
    }
  }

  &__left {
    aspect-ratio: 1 / 1;
    margin-bottom: 12px;
    @include respond(xs){
      aspect-ratio: initial;
    }
    @include respond(md){
      aspect-ratio: 1 / 1;
      margin-bottom: 0;
      position: sticky;
      top: 40px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include respond(md){
      //gap: 0;
      gap: 20px;
    }
  }
}

.benefits__right {
  // Добавляем небольшой отступ между карточками, когда они еще не "прилипли"
  //.benefits__item:not(:last-child) {
  //  margin-bottom: 2rem;
  //}

  // Каждая карточка в правой колонке будет "прилипать" к верху
  .benefits__item {
    //position: sticky;
    //top: 5vh; // Прилипаем на 5% от высоты экрана, чтобы был небольшой отступ сверху
  }
}


.slide-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: center;


    &:after {
      @include respond(md){
        content: "";
        background-color: #fff;
        flex: auto;
        border-radius: 18px 18px 0 0;
      }

      @include respond(2xl){
        border-radius: var(--border-radius-2xl) var(--border-radius-2xl) 0 0;
      }
    }
  }
  &__header-box {
    position: relative;
    &:before,
    &:after {
      @include respond(md){
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
      }
    }
    &:before {
      background-color: #fff;
      right: 100%;
      bottom: 0;
    }
    &:after {
      background-color: #f7f8fd;
      position: absolute;
      right: 100%;
      bottom: 0;
      @include respond(md){
        border-bottom-right-radius: 32px;
      }
      @include respond(3xl){
        border-bottom-right-radius: 44px;
      }
    }
  }
  &__content {
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 24px;
    border-radius: 32px;

    @include respond(xs){
      aspect-ratio: 524/330;
    }

    @include respond(md){
      aspect-ratio: initial;
      padding: 12px 24px 24px 24px;
      border-radius: 18px 0 18px 18px;
    }

    @include respond(2xl){
      padding: 56px;
      border-radius: var(--border-radius-2xl) 0 var(--border-radius-2xl) var(--border-radius-2xl);
    }

  }
  &__badge {
    margin-bottom: 24px;
    @include respond(md){
      margin-bottom: 12px;
      padding-right: 12px;
    }
    @include respond(2xl){
      padding-right: 24px;
      margin-bottom: 24px;
    }
    .icon-badge {
      position: relative;
      z-index: 1;
      padding-left: 24px;
      padding-right: 24px;
      @include respond(md){
        padding-left: 12px;
        padding-right: 12px;
      }

      @include respond(2xl){
        padding-left: 28px;
        padding-right: 28px;
      }

    }
  }
  &__title {
    font-weight: 500;
    line-height: 1;
    margin-bottom: auto;
    font-size: toRem(36,16);
    @include respond(xs){

    }
    @include respond(md){
      font-size: toRem(32,16);
    }
    @include respond(2xl) {
      font-size: 2.8rem;
    }
  }
  &__text {
    color: var(--font-color-text);
  }
  &__icon {
    display: inline-block;
    height: 0;
    position: relative;
    vertical-align: middle;
    @include respond(2xl) {

    }
    svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 40px;
      height: 39px;
      @include respond(md){
        width: 32px;
        height: 30px;
      }
      @include respond(xl){
        width: 62px;
        height: 58px;
      }
    }
  }
}

.slide-2 {
  padding-bottom: 0;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__header {
    text-align: center;
  }
  &__value {
    background: linear-gradient(170deg, #101651 0%, #945fcd 53.37%, #101651 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: toRem(90,16);
    line-height: .9;
    @include respond(md){

    }
    @include respond(2xl) {
      font-size: 8.3rem;
    }
  }
  &__value-text {
    font-size: 1.6rem;
    line-height: .9;
    margin-bottom: 14px;
    background: linear-gradient(170deg, #101651 0%, #945fcd 53.37%, #101651 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include respond(md){
      font-size: toRem(40,16);
      margin-bottom: 8px;
    }
    @include respond(2xl) {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
  }
  &__text {
    color: var(--font-color-text);
  }
  &__img {
    display: flex;
    justify-content: center;
    .img {
      max-width: 124px;
      @include respond(md){
        max-width: 104px;
      }
      @include respond(2xl){
        max-width: 220px;
      }
    }
  }
}

.slide-2--v2 {
  .slide-2__text {
    br {

      @include respond(md){
        display: none;
      }
      @include respond(2xl){
        display: block;
      }
    }
  }
}

.slide-3 {
  position: relative;
  align-items: center;
  .benefits__item-inner {
    padding: 0;
  }

  &__badge {
    transform: rotate(2deg);
    margin-top: 12px;
    @include respond(md){
      position: absolute;
      bottom: 24%;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%) rotate(2deg);
    }
  }

  &__img {
    height: auto;
  }
}

.slide-badge {
  background: linear-gradient(16deg, #fff 0%, #efe 25%, #edeef9 50%, #ffecfd 75%, #fff 99.04%), #fff;
  display: grid;
  align-items: center;
  width: 280px;
  border-radius: 12px;
  grid-template-columns: 64px auto;
  box-shadow: var(--card-box-shadow);
  @include respond(md){
    grid-template-columns: 54px auto;
  }
  @include respond(2xl){
    grid-template-columns: 104px auto;
    border-radius: 18px;
    width: 450px;
  }
  @include respond(3xl){}

  &__icon {
    display: flex;
    justify-content: center;
    svg {
      width: 20px;
      height: 22px;
      @include respond(md){
        width: 22px;
        height: 26px;
      }
      @include respond(2xl){
        width: 32px;
        height: 36px;
      }
    }
  }

  &__text {
    line-height: 1.1;
    padding: 10px 16px 10px 0;
    font-size: toRem(14,16);
    @include respond(md){
      padding: 12px 24px 12px 0;
      font-size: toRem(16,16);
    }
    @include respond(2xl){
      font-size: toRem(24,20);
      padding: 16px 24px 16px 0;
    }
  }
}