@use '../mixins/breakpoints' as *;

.benefits {
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: flex-start; // Выравниваем колонки по верху
  }

  &__item {
    background-color: #fff;
    box-shadow: var(--card-box-shadow);
    padding: 3rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
}

.benefits__right {
  // Добавляем небольшой отступ между карточками, когда они еще не "прилипли"
  .benefits__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  // Каждая карточка в правой колонке будет "прилипать" к верху
  .benefits__item {
    position: sticky;
    top: 5vh; // Прилипаем на 5% от высоты экрана, чтобы был небольшой отступ сверху
  }
}


.slide-1 {
  
  &__title {
    @include respond(2xl) {
      font-weight: 500;
      line-height: 1;
      font-size: 2.8rem;
      margin-bottom: 4rem;
    }
  }
  &__text {
    color: var(--font-color-text);
  }
  &__icon {
    margin-bottom: -14px;
    @include respond(2xl) {
      margin-bottom: -14px;
    }
  }
}

.slide-2 {
  padding-bottom: 0;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__header {
    text-align: center;
  }
  &__value {
    font-size: 3.6rem;
    line-height: 1;
    background: linear-gradient(170deg, #101651 0%, #945fcd 53.37%, #101651 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include respond(2xl) {
      font-size: 8.3rem;
    }
  }
  &__value-text {
    font-size: 1.6rem;
    line-height: 1;
    background: linear-gradient(170deg, #101651 0%, #945fcd 53.37%, #101651 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include respond(2xl) {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
  }
  &__text {
    color: var(--font-color-text);
  }
  &__img {
    display: flex;
    justify-content: center;
    .img {
      max-width: 220px;
    }
  }
}

.slide-3 {
  padding: 0;
}