@use '../mixins/breakpoints' as *;

.btn-reset {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  text-align: left;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 500;
  padding: 0 24px;
  height: 70px;
  border-radius: 35px;
  transition: background-color .2s ease;
  text-decoration: none;
  color: inherit;
  &:hover {
    background-color: var(--color-8);
  }
  @include respond(md){
    font-size: toRem(24,16);

    padding: 0 30px;
  }
  @include respond(2xl){
    font-size: toRem(30,20);
    height: 90px;
    border-radius: 45px;
    padding: 0 40px;
  }
  @include respond(3xl){
    font-size: toRem(40,24);
    height: 120px;
    border-radius: 60px;
  }
}

.btn--main {
  background-color: var(--color-main);
  color: #fff;
}

.btn--v2 {
  height: 48px;
  font-size: toRem(16,16);
  border-radius: 24px;
  gap: 6px;
  @include respond(md){
    height: 56px;
    border-radius: 28px;
    font-size: toRem(18,20);
  }
  @include respond(2xl){
    font-size: toRem(24,20);
    height: 68px;
    border-radius: 34px;
  }
  &:after {
    content: '';
    background-image: url("/images/slides/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 18px;
    @include respond(md){
      width: 9px;
      height: 16px;
    }
    @include respond(2xl){
      width: 11px;
      height: 20px;
    }
  }
}

.btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-5);
  cursor: pointer;
  line-height: 1;
  transition: background-color .2s ease;
  height: 80px;
  border-radius: 40px;
  font-size: toRem(20,16);
  &:hover {
    background-color: var(--color-1);
  }
  @include respond(md){
    font-size: toRem(24,16);
    height: 70px;
    border-radius: 45px;
  }
  @include respond(2xl){
    font-size: toRem(30,20);
    height: 90px;
    border-radius: 45px;
  }
  @include respond(3xl){
    font-size: toRem(40,24);
    height: 120px;
    border-radius: 60px;
  }
  svg {
    fill: var(--color-main);
    width: 16px;
    height: auto;
    @include respond(md){
      width: 14px;
      height: auto;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    gap: 22px;
  }
}

//    @include respond(md){}
//    @include respond(2xl){}
//    @include respond(3xl){}