@use '../mixins/breakpoints' as *;

.cards {
  &__title {
    font-weight: 500;
    text-align: center;
    font-size: 1.25rem;
    margin:0 0 2.5rem 0;
    @include respond(2xl) {
      font-size: 1.2rem;
      margin-bottom: 32px;
    }
  }

  &__items {
    display: grid;
    gap: 20px;
    @include respond(md){
      gap: 12px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond(2xl) {
      gap: 20px;
    }
  }
  &__items {
    max-width: 426px;
    margin: auto;
    @include respond(md){
      max-width: 100%;
    }
  }

}

.card {
  --transition-spring: 600ms cubic-bezier(0.25, 0.8, 0.25, 1);
  --hover-lift: -4px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__images {
    background-color: var(--color-main);
    aspect-ratio: 426 / 319;
    overflow: hidden;
    position: relative;
    border-radius: 24px;
    margin: 0 1px;
    @include respond(md) {
      border-radius: 18px;
    }
    @include respond(2xl) {
      border-radius: 34px;
    }
    @include respond(3xl) {
      border-radius: 44px;
    }
  }

  &__img {
    position: absolute;
    --x: 0px;
    --y: 0px;
    --s: 1;
    --r: 0deg;
    transform: translate3d(var(--x), var(--y), 0) scale(var(--s)) rotate(var(--r));
    transition: transform var(--transition-spring);
    will-change: transform;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.1;
    @include respond(md){
      font-size: 1.25rem;
    }
    @include respond(2xl) {
      font-size: 1.8rem;
      margin-bottom: 4rem;
    }
  }

  &__content {
    background: linear-gradient(360deg, #e2e6f5 0%, #f3f4fb 100%);
    margin-top: -64px;
    position: relative;
    z-index: 10;
    border-radius: 24px;
    flex-grow: 1;
    /* 2. Логика маски:
       Слой 1: Наш SVG (в правом нижнем углу, не повторять)
       Слой 2: Сплошная заливка (linear-gradient) на весь блок
    */
    -webkit-mask-image: var(--corner-mask), linear-gradient(#fff, #fff);
    mask-image: var(--corner-mask), linear-gradient(#fff, #fff);
    /* 3. КОМПОЗИЦИЯ (Магия вырезания):
     Говорим браузеру: "Возьми Слой 2 (весь блок) и ВЫЧТИ из него Слой 1 (уголок)"
     destination-out - стандарт для Webkit (Chrome/Safari)
     exclude - стандарт спецификации CSS
      */
    /* Позиционирование слоев */
    -webkit-mask-position: bottom right, center;
    mask-position: bottom right, center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;

    --corner-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 83 82'%3E%3Cpath d='M83,0v82H0c13.3,0,24-10.7,24-24v-10c0-13.2,10.7-24,24-24h11c13.3,0,24-10.7,24-24Z' fill='black'/%3E%3C/svg%3E");
    mask-size: 83px 82px, 100% 100%;


  @include respond(md) {
      margin-top: -30%;
      border-radius: 18px 18px 0 18px;
      --corner-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53 64'%3E%3Cpath d='M53,0v64H0c9.4,0,17-7.6,17-17v-12.9c0-9.4,7.6-17,17-17h1.9c9.4,0,17-7.6,17-17Z' fill='black'/%3E%3C/svg%3E");
      mask-size: 53px 64px, 100% 100%;
    }
    @include respond(2xl) {
      border-radius: 34px 34px 0 34px;
      --corner-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 103 105'%3E%3Cpath d='M103,0v105H0c18.2,0,33-14.8,33-33v-6c0-18.2,14.8-33,33-33h4c18.2,0,33-14.8,33-33Z' fill='black'/%3E%3C/svg%3E");
      /* Размер маски равен размеру SVG (103px ширина, 105px высота) */
      mask-size: 103px 105px, 100% 100%;
    }
    @include respond(3xl) {
      border-radius: 44px 44px 0 44px;
    }

    @include respond(2xl) {

    }

  }
  &__content-inner {
    padding: 1.2rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond(2xl) {
      padding: 26px 32px;
    }
  }
  &__text {
    color: var(--font-color-text);
    padding-right: 52px;
    @include respond(md){
      padding-right: 24px;
    }
    @include respond(2xl){
      padding-right: 48px;
    }
    @include respond(3xl){
      padding-right: 54px;
    }
  }
  &__footer {
    display: flex;
  }
  &__footer-inner {

  }
  &__footer-icon {
    isolation: isolate;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}

.card-icon {
  background-color: #101651;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  @include respond(md){
    width: 30px;
    height: 30px;
  }
  @include respond(2xl){
    width: 56px;
    height: 56px;
  }
  &__img {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: -2px;
  }
}

// Card #1
.card--1 {
  .card__img--1 {
    bottom: 0;
    left: -76px;
    width: 584px;
    @include respond(2xl) {
      bottom: 20px;
      left: -90px;
    }
  }
  .card__img--2 {
    width: 260px;
    z-index: 1;
    left: 24px;
    top: 35px;
    @include respond(2xl) {
      width: 300px;
      left: 24px;
      top: 50px;
    }
    @include respond(3xl) {
      width: 400px;
    }
  }
  .card__img--3 {
    width: 42px;
    right: 30px;
    top: 8px;
    @include respond(2xl) {
      width: 50px;
      right: 30px;
      top: 8px;
    }
  }
  .card__img--4 {
    width: 70px;
    right: 88px;
    top: 15px;
    @include respond(2xl) {
      width: 80px;
      right: 98px;
      top: 24px;
    }
    @include respond(3xl) {
      width: 132px;
    }
  }

  &:hover {
    .card__img--1 {
      --s: 1.05;
      --r: -2deg;
    }
    .card__img--2 {
      --x: -12px;
      --y: -8px;
      --r: -3deg;
    }
    .card__img--3 {
      --s: 1.05;
      --r: -2deg;
    }
    .card__img--4 {
      --x: 10px;
      --y: -15px;
      --s: 1.05;
    }

  }
}

// Card #2
.card--2 {
  .card__img--1 {
    left: -56px;
    bottom: 43px;
    width: 670px;
    @include respond(2xl) {
      width: initial;
      bottom: 88px;
      left: -60px;
    }
  }
  .card__img--2 {
    width: 271px;
    left: 34px;
    top: -62px;
    @include respond(2xl) {
      width: 332px;
      left: 32px;
      top: -82px;
    }
    @include respond(3xl) {
      width: 400px;
    }
  }
  .card__img--3 {
    width: 134px;
    right: -24px;
    top: 80px;
    @include respond(2xl) {
      width: 160px;
      right: -24px;
      top: 86px;
    }
  }
  .card__img--4 {
    width: 38px;
    right: 24px;
    top: 48px;
    @include respond(2xl) {
      width: 60px;
      right: 24px;
      top: 40px;
    }
    @include respond(3xl) {

    }
  }

  &:hover {
    .card__img--1 {
      --s: 1.05;
      --r: -2deg;
    }
    .card__img--2 {
      --x: -12px;
      --y: -8px;
      --r: -3deg;
    }
    .card__img--3 {
      --s: 1.05;
      --r: -2deg;
    }
    .card__img--4 {
      --x: 10px;
      --y: -15px;
      --s: 1.05;
    }
  }
}

// Card #3
.card--3 {
  .card__img--1 {
    bottom: 48px;
    left: -27px;
    width: 548px;

    @include respond(2xl){
      bottom: 80px;
      left: -36px;
      width: initial;
    }
  }
  .card__img--2 {
    width: 92px;
    top: 43px;
    left: 24px;
    @include respond(2xl) {
      width: 120px;
      top: 48px;
      left: 25px;
    }
  }
  .card__img--3 {
    width: 43px;
    top: 98px;
    left: 60px;
    @include respond(2xl) {
      width: 52px;
      top: 116px;
      left: 73px;
    }
  }
  .card__img--4 {
    width: 256px;
    right: -22px;
    top: -18px;
    @include respond(2xl) {
      width: 300px;
      right: -30px;
      top: -8px;
    }
  }

  &:hover {
    .card__img--1 {
      --s: 1.05;
      --r: -2deg;
    }
    .card__img--2 {
      --x: -12px;
      --y: -8px;
      --r: -3deg;
    }
    .card__img--3 {
      --s: 1.05;
      --r: -2deg;
    }
    .card__img--4 {
      --x: 10px;
      --y: -15px;
      --s: 1.05;
    }
  }
}
