@use '../mixins/breakpoints' as *;
@include respond(md){}
@include respond(2xl){}
@include respond(3xl){}

.contacts {

  &__items {
    display: grid;
    gap: 10px;
    @include respond(md){}
    @include respond(2xl){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include respond(3xl){
      gap: 28px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include respond(2xl){
      gap: 20px;
    }
    @include respond(3xl){
      gap: 28px;
    }
  }

  &__email,
  &__phone {
    font-size: toRem(24,16);
    font-style: normal;
    text-align: center;
    @include respond(md){
      font-size: toRem(32,20);
    }
    @include respond(2xl){
      text-align: left;
      font-size: toRem(50,20);
    }
    @include respond(3xl){
      font-size: toRem(60,24);
    }
  }
  
  &__form {
    .order__header {
      @include respond(2xl){
        text-align: left;
      }
    }
  }

  &__item {
    background-color: #fff;
    border-radius: 32px;
    padding: 20px 12px;
    @include respond(md){
      padding: 24px;
    }
    @include respond(2xl){
      padding: 40px 60px;
    }
    @include respond(3xl){
      border-radius: 44px;
    }
  }

  &__img {
    height: auto;
    border-radius: 32px;
    flex-grow: 1;
    object-fit: cover;
    order: 1;
    @include respond(md){
      margin: auto;
    }
    @include respond(2xl){
      order: initial;
    }
    @include respond(3xl){
      border-radius: 44px;
    }
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--font-color-text);
    gap: 4px;
    @include respond(md){
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    @include respond(2xl){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
    }
    @include respond(3xl){
      font-size: 20px;
    }
  }

  &__footer-item {
    &:nth-child(1),
    &:nth-child(3){
      @include respond(md){
        text-align: left;
      }
    }
    &:nth-child(2),
    &:nth-child(4){
      @include respond(md){
        text-align: right;
      }
    }
  }
}