@use '../mixins/breakpoints' as *;
@include respond(md){}
@include respond(2xl){}
@include respond(3xl){}


.culture {
  .section__title {
    margin-bottom: 20px;
    br {
      display: none;
      @include respond(md){
        display: block;
      }
    }
  }

  &__header {
    position: relative;
    .icon-badge {
      margin-bottom: 40px;
      min-width: 284px;
      @include respond(md){
        min-width: initial;
        margin-bottom: 20px;
      }
      @include respond(2xl){
        position: absolute;
        left: 0;
        top: -30px;
      }
    }
  }

  &__stats {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    flex-direction: column;
    @include respond(md){
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 40px;
    }
    @include respond(2xl){
      gap: 90px;
      margin: 0 auto 72px auto;
      max-width: 992px;
    }
    @include respond(3xl){
      gap: 120px;
      margin-bottom: 96px;
    }
  }
  &__stats-item {
    text-align: center;
    &:last-child {
      .culture__stats-item-text {
        br {
          display: none;
          @include respond(md){
            display: block;
          }
        }
      }
    }
  }
  &__stats-item-title {
    color: var(--font-color-accent);
    font-size: toRem(70,16);
    white-space: nowrap;
    @include respond(md){
      font-size: toRem(56,16);
    }
    @include respond(2xl){
      font-size: toRem(82,20);
    }
    @include respond(3xl){
      font-size: toRem(110,24);
    }
  }
  &__stats-item-text {
    line-height: 1;
    font-size: toRem(20,16);
    @include respond(md){

    }
    @include respond(2xl){
      font-size: toRem(28,20);
    }
    @include respond(3xl){
      font-size: toRem(36,24);
    }
  }
  &__items {
    //display: grid;
    //gap: 24px;
    margin-bottom: 50px;
    @include respond(md){
      margin-bottom: 40px;
    }
    @include respond(2xl){
      margin-bottom: 100px;
      //grid-template-columns: repeat(3,1fr);
    }
    @include respond(3xl){
      margin-bottom: 102px;
    }
  }
  &__footer {
    text-align: center;
    font-size: toRem(20,16);
    line-height: 1.1;
    @include respond(md){

    }
    @include respond(2xl){
      font-size: toRem(28,20);
    }
    @include respond(3xl){
      font-size: toRem(36,24);
    }
  }
}

.story-card {

  position: relative;

  &__image {
    border-radius: 24px;
    @include respond(md){
      border-radius: var(--border-radius-md);
    }
    @include respond(2xl){
      border-radius: var(--border-radius-2xl);
    }
    @include respond(3xl){
      border-radius: var(--border-radius-3xl);
    }
  }
  &__media {

  }

  &__title {
    position: absolute;
    right: -1px;
    bottom: 0;
    background-color: #fff;
    padding: 10px 10px 10px 16px;
    line-height: 1;
    border-radius: 24px 0 0 0;
    @include respond(md){
      border-radius: var(--border-radius-md) 0 0 0;
    }
    @include respond(2xl){
      border-radius: var(--border-radius-2xl) 0 0 0;
      padding: 1rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: -23px;
      bottom: 0;
      background-image: radial-gradient(
          circle at -1px 0,
          transparent 24px,
          #fff 24.5px
      );
      @include respond(2xl){
        width: 32px;
        height: 32px;
        left: -31px;
        background-image: radial-gradient(
            circle at -1px 0,
            transparent 32px,
            #fff 32.5px
        );
      }
      @include respond(3xl){
        width: 44px;
        height: 44px;
        left: -41px;
        background-image: radial-gradient(
            circle at -1px 0,
            transparent 44px,
            #fff 44.5px
        );
      }
    }
    &:after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      right: 0;
      top: -23px;
      background-image: radial-gradient(
          circle at -1px -1px,
          transparent 24px,
          #fff 24.5px
      );
      @include respond(2xl){
        width: 32px;
        height: 32px;
        top: -31px;
        background-image: radial-gradient(
            circle at -1px 0,
            transparent 32px,
            #fff 32.5px
        );
      }
    }
  }

}