@use '../mixins/breakpoints' as *;

.error-404 {
  &__inner {
    text-align: center;
  }
  &__media {
    margin-bottom: 24px;
    position: relative;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(md){
      margin-bottom: 30px;
      min-height: 400px;
    }
    @include respond(2xl){
      min-height: 620px;
    }
    @include respond(3xl){
      margin-bottom: 46px;
    }
    svg {
      fill: #F8F9FE;
      max-width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include respond(md){
        position: static;
        transform: none;
      }
    }
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 230px;
    height: auto;
    z-index: 1;
    @include respond(md){
      width: 300px;
    }
    @include respond(2xl){
      width: 420px;
    }
    @include respond(3xl){
      width: 540px;
    }
  }
  &__title {
    font-size: toRem(24,16);
    @include respond(2xl){
      font-size: toRem(40,20);
    }
    @include respond(3xl){
      font-size: toRem(48,24);
    }
  }
}