@use '../mixins/breakpoints' as *;

.input {
  display: block;
  width: 100%;
}

.input-button {
  position: relative;
  &__input {
    height: 48px;
    border-radius: 24px;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 18px 30px 18px 30px;
    @include respond(md){
      height: 40px;
    }
    @include respond(2xl){
      font-size: 1.25rem;
      height: 68px;
      border-radius: 34px;
    }
  }
  &__button {
    font-size: 0;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: var(--color-1);
    border-radius: 50%;
    transition: background .2s ease;

    @include respond(md){
      width: 30px;
      height: 30px;
    }

    @include respond(2xl){
      width: 58px;
      height: 58px;
    }
    svg {
      width: 100%;
      height: 100%;

      fill: var(--color-2);
      transition: fill .2s ease;
    }
    &:hover {
      background-color: var(--color-2);
      svg {
        fill: #FFFFFF;
      }
    }
  }
}