@use '../mixins/breakpoints' as *;

.hero {
  overflow: hidden;
  position: relative;
  &.section {
    padding-top: 6rem;
  }
  &__title {
    font-weight: 500;
    margin: 0;
    line-height: 1.3;

    @include respond(2xl) {
      font-size: 3.7rem;
      margin: 0 0 5rem 0;
    }
    @include respond(3xl) {
      font-size: 6.125rem;
      line-height: 1.3;
    }
  }
  &__title-icon {
    fill: #101651;
  }
}