@use '../mixins/breakpoints' as *;

.hero {
  position: relative;
  @include respond(md){
    overflow: hidden;
  }
  &.section {
    padding-top: 8.3rem;
    @include respond(2xl){
      padding-top: 6rem;
    }
  }
  &__title {
    font-weight: 500;
    margin: 0 0 7.5rem 0;
    line-height: 1.3;
    font-size: 2.375rem;

    @include respond(md){
      font-size: 3.125rem;
    }
    @include respond(2xl) {
      font-size: 3.7rem;
      margin: 0 0 5rem 0;
    }
    @include respond(3xl) {
      font-size: 6.125rem;
      line-height: 1.3;
    }
  }
  &__title-icon {
    fill: #101651;
    margin-bottom: -8px;
    width: 42px;
    height: 36px;
    @include respond(lg){
      width: 58px;
      height: 51px;
    }
  }

  .word-image-1 {
    @include respond(2xl){
      margin-left: -20px;
    }
  }
  .word-commands {
    @include respond(2xl){
      position: relative;
      bottom: -0.5rem;
    }
  }
}

.word-image-1 {
  background: linear-gradient(90deg, #ff00f1 0%, #ff60f6 13.47%, #ffcefc 75.49%, #ffaefb 100%);
  display: inline-flex;
  line-height: 1;
  border-radius: 50px;
  padding: 4px 53px 4px 4px;
  position: relative;

  @include respond(lg){
    padding: 4px 120px 4px 20px;
  }

  &:after {
    content: '';
    display: block;

    width: 58px;
    border-radius: 0 0 28px 0;

    aspect-ratio: 308 / 299;
    background: url("/images/slides/hero/words/unicorn.webp");
    background-size: contain;
    position: absolute;
    right: -5px;
    bottom: 0;

    @include respond(md){
      width: 66px;
    }

    @include respond(lg){
      width: 110px;
      border-radius: 0 0 50px 0;
    }

  }


}

.word-image-2 {
  background: url("/images/slides/hero/words/green.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4px 10px 4px 4px;
  @include respond(lg){
    padding: 4px 20px 12px 20px;
  }
}

.word-commands {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 3px 6px;

  border: 4px solid transparent; /* Прозрачная рамка резервирует место */
  border-radius: 100px;

  background:
          // 1. Верхний слой: "цвет фона".
          linear-gradient(#eff1fd, #eff1fd) padding-box,
            // 2. Нижний слой: градиент рамки
          linear-gradient(
              to right,
              #FFFFFF 0%,
              #FFD6FC 16%,
              #D4D7F0 44%,
              #EAFAEA 81%,
              #FFFFFF 99%
          ) border-box;

  @include respond(md){
    padding: 0 16px 6px 12px;
  }

  @include respond(2xl){
    align-items: end;
  }

  &__items {
    display: flex;
  }
  &__text {
    display: block;
    line-height: .9;
  }
  &__item {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin-left: -8px;
    border: 2px solid transparent;
    background:
            // 1. Верхний слой: "цвет фона".
            linear-gradient(#eff1fd, #eff1fd) padding-box,
              // 2. Нижний слой: градиент рамки
            linear-gradient(
                to right,
                #FFFFFF 0%,
                #FFD6FC 16%,
                #D4D7F0 44%,
                #EAFAEA 81%,
                #FFFFFF 99%
            ) border-box;

    @include respond(md){
      width: 38px;
      height: 38px;
      margin-left: -12px;
    }

    @include respond(lg){
      margin-left: -16px;
      border: 4px solid transparent;
    }

    &:first-child {
      margin-left: 0;
    }
    @include respond(2xl){
      width: 56px;
      height: 56px;
    }
  }

}