@use '../mixins/breakpoints' as *;

.path {
  &__container {
    padding-inline: 12px;
    @include respond(xs){
      padding: 0;
    }
    @include respond(md){
      max-width: 100%;
    }
    @include respond(xl){
      padding-inline: 30px;
      max-width: 1200px;
    }
    @include respond(2xl){
      max-width: 1440px;
      padding-inline: 60px;
    }
    @include respond(3xl) {
      max-width: 1920px;
      padding-inline: 80px;
    }
  }
  &__header {
    margin-bottom: 30px;
    @include respond(md){
      margin-bottom: 8px;
    }
    @include respond(2xl){
      margin-bottom: 16px;
    }
  }
  &__header-top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @include respond(md){
      margin-bottom: 0;
      justify-content: initial;
    }
    &:after {
      @include respond(md){
        content: '';
        background-color: #fff;
        flex: auto;
        border-radius: toRem(32px,20px) toRem(32px,20px) 0 0;
      }
    }
  }
  &__header-top-box {
    position: relative;
    &:before,
    &:after {
      @include respond(md){
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
      }
    }
    &:before {
      background-color: #fff;
      right: 100%;
      bottom: 0;
    }
    &:after {
      background-color: #f7f8fd;
      position: absolute;
      right: 100%;
      bottom: 0;
      @include respond(md){
        border-bottom-right-radius: 32px;
      }
      @include respond(3xl){
        border-bottom-right-radius: 44px;
      }
    }
  }
  &__header-badge {
    transform: translate(10px, -10px);
    position: relative;
    z-index: 1;
    @include respond(md){
      padding-right: 20px;
    }
    @include respond(2xl){
      margin-bottom: 6px;
      padding-right: 24px;
    }
    @include respond(3xl){
      margin-bottom: 14px;
    }
  }
  &__header-bottom {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
    padding: 24px;
    box-shadow: 0 5px 82px 0 rgba(17, 22, 78, 0.05);
    @include respond(md){
      box-shadow: none;
      align-items: center;
      padding: 0 48px 48px 48px;
      border-radius: 24px 0 24px 24px;
    }
    @include respond(2xl){
      padding: 0 48px 48px 48px;
      border-radius: 32px 0 32px 32px;
      box-shadow: 0 82px 82px 0 rgba(17, 22, 78, 0.05);
    }
    @include respond(3xl){
      border-radius: 44px 0 44px 44px;
    }
  }
  &__title {
    margin-bottom: 1rem;

    @include respond(md){
      margin-top: 1rem;
    }
    @include respond(2xl){
      margin-top: -1rem;
    }
  }
  &__title-inner {
    position: relative;
  }
  &__info {
    display: flex;
    position: absolute;
    left: calc(100% + 4px);
    top: 0;
    width: 14px;
    height: 14px;
    cursor: pointer;
    @include respond(md){
      width: 24px;
      height: 24px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__description {
    color: var(--font-color-text);
    line-height: 1.2;
    margin-bottom: 14px;
    @include respond(md){
      max-width: 578px;
      text-align: center;
    }
    @include respond(2xl){
      max-width: 644px;
    }
    @include respond(3xl){
      max-width: 860px;
    }
  }
  &__header-img {
    svg {
      width: 50px;
      height: auto;
      @include respond(md){
        width: 32px;
      }
      @include respond(2xl){
        width: 38px;
      }
    }
  }
  &__items {
    display: grid;
    gap: 30px;
    margin-bottom: 30px;
    @include respond(xs){
      gap: 0;
      margin-bottom: 12px;
    }
    @include respond(xl){
      grid-template-columns: repeat(3,1fr);

      gap: 20px;
    }
    @include respond(2xl){
      margin-bottom: 22px;
    }
    @include respond(3xl){
      margin-bottom: 30px;
    }
  }
}

.card-v2 {
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__image {
    background-color: var(--color-main);
    height: 254px;
    border-radius: 32px;
    position: relative;
    @include respond(2xl){
      height: 254px;
      border-radius: 32px;
    }
  }
  &__img-1 {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  &__category {
    background-color: #fff;
    color: var(--color-2);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
    padding: 17px 22px 0 22px;
    @include respond(md){

    }
    @include respond(2xl){
      padding: 12px 22px 0 22px;
    }
    @include respond(3xl){
      border-radius: 30px 30px 0 0;
    }
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      bottom: 0;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M0 0 V1 H1 A1 1 0 0 1 0 0 Z' fill='%23ffffff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  &__content {
    background-color: #fff;
    border-radius: 0 32px 32px 32px;
    padding: 24px 22px;
    display: flex;
    flex-direction: column;
    flex: auto;
    @include respond(2xl){
      border-radius: 0 32px 32px 32px;
      padding: 24px 22px;
      min-height: 254px;
    }
  }
  &__title {
    margin-bottom: 1rem;
    margin-top: auto;
    line-height: 1.1;
    font-size: toRem(24,16);
    @include respond(2xl){
      font-size: toRem(32,20);
    }
  }
  &__description {
    line-height: 1.2;
    color: var(--font-color-text);
  }
}


.tippy-box[data-theme~='custom'] {
  background-color: var(--color-6);
  color: var(--font-color-text);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  box-shadow: 0 5px 82px 0 rgba(17, 22, 78, 0.05);

  .tippy-content {
    padding: 0;
    white-space: nowrap;

  }

  .tippy-arrow {
    display: none;
  }

  &[data-placement^=right-end] {
    border-bottom-left-radius: 0;
  }

  &[data-placement^=left-end] {
    border-bottom-right-radius: 0;
  }

  &[data-placement^=left-start] {
    border-top-right-radius: 0;
  }

}

.swiper-v1 {

  &.swiper {
    overflow: visible;
    @include respond(xs){
      overflow: hidden;
    }
  }

  .swiper-wrapper {
    display: grid;
    @include respond(xs){
      display: flex;
    }
    @include respond(xl){
      display: grid;
      transform: none;
    }
    @include respond(2xl){

    }
  }

  .swiper-slide {
    height: auto;
    @include respond(2xl){
      flex-shrink: 1;
      width: auto;
      height: auto;
      position: static;
      transition-property: initial;
      display: block;
    }
  }
}