@use '../mixins/breakpoints' as *;

.slider {
  &__header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 2rem;
    align-items: end;
    @include respond(2xl) {
      margin-bottom: 2.5rem;
      gap: 2.5rem;
    }
  }
  &__title {
    margin: 0;
  }

  &__text {
    color: var(--font-color-text);
    line-height: 1.2;
  }

  &__items {
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    @include respond(2xl) {
      gap: 16px;
    }
  }

}

.slide {
  background: linear-gradient(360deg, #eef0f8 0%, #e2e6f5 100%);
  box-shadow: var(--card-box-shadow);
  padding: 3rem;
  border-radius: 1.6rem;
  min-width: 74vw;
  &__title {
    font-weight: 500;
    margin: 0;
    letter-spacing: -0.05em;
    line-height: .9;
    @include respond(2xl) {
      font-size: 5.8rem;
      margin: 0 0 2.7rem 0;
    }
  }
  &__icon {
    margin-bottom: .5rem;
  }
  &__text {
    color: var(--font-color-text);
    margin: 0;
    line-height: 1.2;
    @include respond(2xl) {
      max-width: 440px;
    }
  }
}

.slide-v2--4 {
  .slide__title {
    @include respond(2xl) {
      font-size: 5rem;
      line-height: .9;
    }
  }
}