@use '../mixins/breakpoints' as *;
@include respond(md){}
@include respond(2xl){}

.slider {
  .swiper {
    //max-width: 1920px;
    @include respond(2xl){

    }
  }
  &__header {
    margin-bottom: 50px;
    @include respond(md){
      display: grid;
      align-items: center;
      grid-template-columns: 280px auto;
      gap: 0 32px;
      margin-bottom: 48px;
    }
    @include respond(2xl) {
      grid-template-columns: auto auto 1fr;
      gap: 2.5rem;
      align-items: end;
      margin-bottom: 2.5rem;
    }
  }

  &__badge {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
    @include respond(md){
      display: block;
      grid-column: 1 / -1;
      margin-bottom: 12px;
    }
    @include respond(2xl){
      grid-column: initial;
      margin-bottom: 0;
    }

    .icon-badge {
      padding-left: 36px;
      padding-right: 24px;
      min-width: 300px;
      @include respond(md){
        min-width: initial;
      }
    }
  }

  &__title {
    font-size: toRem(34,16);
    margin-bottom: 24px;
    @include respond(md){
      font-size: toRem(40,16);
      margin-bottom: 0;
    }
    @include respond(2xl){
      font-size: toRem(56,20);
    }
    @include respond(3xl){
      font-size: toRem(72,24);
    }
    br {
      display: none;
      @include respond(md){
        display: block;
      }
    }
  }

  &__text {
    color: var(--font-color-text);
    line-height: 1.2;
  }

  &__items {
    display: flex;
    flex-wrap: nowrap;

    @include respond(md) {
      gap: 8px;
      margin-left: 30px;
    }
    @include respond(2xl) {
      gap: 20px;
      margin-left: 16px;
    }
  }

  &__item {

    &.swiper-slide {
      height: auto;
      min-height: 640px;
      max-width: 90vw;
      display: flex;
      @include respond(md){

        //max-width: 644px;
        min-height: 350px;
        margin: 0;
      }
      @include respond(2xl){
        max-width: 1210px;
        min-height: 550px;

      }
      @include respond(3xl){
        max-width: 1760px;
        min-height: 735px;
      }
    }

  }

}

.slide {
  background-image: var(--slide-bg), linear-gradient(360deg, #eef0f8 0%, #e2e6f5 100%);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  border-radius: 32px;

  @include respond(md){
    border-radius: 20px;
    padding: 32px 24px;
  }

  @include respond(2xl){
    min-width: 74vw;
    padding: 42px 52px;
    border-radius: 32px;
  }

  @include respond(3xl){
    border-radius: 44px;
  }

  &__title {
    font-weight: 500;
    letter-spacing: -0.05em;
    line-height: .9;
    font-size: toRem(34,16);
    margin-bottom: 24px;

    @include respond(md){
      font-size: toRem(56,16);
      margin-bottom: auto;
    }
    @include respond(2xl) {
      font-size: 5.8rem;
    }
  }
  &__icon {
    margin-bottom: .5rem;
    order: 3;
    @include respond(md){
      order: initial;
    }
  }
  &__text {
    color: var(--font-color-text);
    line-height: 1.2;
    margin-bottom: 40px;
    @include respond(md){
      margin-bottom: 0;
      max-width: 390px;
    }
    @include respond(2xl) {
      max-width: 440px;
    }
    @include respond(3xl){
      max-width: 585px;
    }
  }
}
// Slide 1
.slide-v2--1 {
  --slide-bg: url("/images/slides/slider/1.webp");
  background-size: 94%, 100%;
  @include respond(md){
    background-size: 42%, 100%;
  }
  @include respond(2xl){
    background-size: 35%, 100%;
  }

  .slide__icon svg {
    width: 50px;
    height: 65px;
    @include respond(md){
      width: 25px;
      height: 32px;
    }
    @include respond(2xl){
      width: 38px;
      height: 48px;
    }
    @include respond(3xl){
      width: 50px;
      height: 65px;
    }
  }
}
// Slide 2
.slide-v2--2 {
  --slide-bg: url("/images/slides/slider/2-1.webp");
  background-size: 100%, 100%;
  @include respond(md){
    --slide-bg: url("/images/slides/slider/2.webp");
    background-size: 46%, 100%;
    //background-position: right -120px bottom 10px, center center;
  }
  @include respond(2xl){
    background-position: right bottom -98px, center center;
    background-size: 50%, 100%;
  }

  .slide__title {
    br {
      display: none;
      @include respond(md){
        display: block;
      }
    }
  }

  .slide__icon svg {
    width: 79px;
    height: 66px;
    @include respond(md){
      width: 38px;
      height: 32px;
    }
    @include respond(2xl){
      width: 59px;
      height: 50px;
    }
    @include respond(3xl){
      width: 79px;
      height: 66px;
    }
  }
}
// Slide 3
.slide-v2--3 {
  --slide-bg: url("/images/slides/slider/3-1.webp");
  background-size: 100%, 100%;
  @include respond(md){
    --slide-bg: url("/images/slides/slider/3.webp");
    background-size: 48%, 100%;
  }
  @include respond(2xl){
    background-size: 40%, 100%;
  }
  .slide__icon svg {
    width: 65px;
    height: 56px;
    @include respond(md){
      width: 37px;
      height: 32px;
    }
    @include respond(2xl){
      width: 49px;
      height: 42px;
    }
    @include respond(3xl){
      width: 65px;
      height: 56px;
    }
  }
  .slide__text {
    @include respond(md){
      //max-width: 330px;
    }
  }
}
// Slide 4
.slide-v2--4 {
  --slide-bg: url("/images/slides/slider/4.webp");
  background-size: 120%, 100%;
  background-position: right -40px bottom, center center;
  @include respond(md){
    background-size: 50%, 100%;
    background-position: right bottom -40px, center center;
  }
  @include respond(2xl){
    background-size: 50%, 100%;
    background-position: right bottom -100px, center center;
  }
  .slide__title {
    @include respond(md){
      max-width: 570px;
    }
    @include respond(2xl) {
      font-size: 5rem;
      line-height: .9;
      max-width: 60%;
    }
  }
  .slide__text {
    @include respond(md){
      //max-width: 340px;
    }
  }
  .slide__icon svg {
    width: 61px;
    height: 61px;
    @include respond(md){
      width: 32px;
      height: 32px;
    }
    @include respond(2xl){
      width: 46px;
      height: 46px;
    }
    @include respond(3xl){
      width: 61px;
      height: 61px;
    }
  }
}