@use '../mixins/breakpoints' as *;

.tickets {
  &__items {
    display: grid;
    gap: 1rem;
  }
}

.ticket {
  &__inner {
    padding: 1.5rem;
    display: grid;
    align-items: center;
    justify-content: space-between;
    @include respond(2xl) {
      grid-template-columns: auto 300px auto;
      padding: 2.4rem 2.5rem;
      background-color: #fff;
      border-radius: 2.2rem;
    }
  }
  &__title {
    @include respond(2xl) {
      font-size: 2rem;
      font-weight: 500;
      margin: 0 0 1rem 0;
    }
  }
  &__text {
    color: var(--font-color-text);
    @include respond(2xl) {

    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__link-text {
    border-bottom: 1px solid var(--font-color-text);
    line-height: 1;
  }
}