@use '../mixins/breakpoints' as *;

.tickets {
  &__items {
    display: grid;
    gap: 1rem;
  }
}

.ticket {
  &__inner {
    padding: 1.5rem;
    @include respond(2xl) {
      padding: 2.4rem 3rem;
      background-color: #fff;
      border-radius: 2.2rem;
    }
  }
  &__title {
    @include respond(2xl) {
      font-size: 2rem;
      font-weight: 500;
      margin: 0 0 1rem 0;
    }
  }
  &__text {
    color: var(--font-color-text);
  }
}