@use '../mixins/breakpoints' as *;

.tickets {
  &__items {
    display: grid;
    gap: 1rem;
  }
  &__item {
    cursor: pointer;
  }
}

.ticket {

  &:hover {
    @include respond(md){
      .ticket__image-src {
        transform: scale(1.12);
      }
    }
  }

  &__inner {
    display: grid;
    align-items: center;
    justify-content: space-between;
    @include respond(md) {
      grid-template-columns: 1fr 230px;
      min-height: 152px;
    }
    @include respond(2xl) {
      min-height: 192px;
      grid-template-columns: 1fr 344px;
    }
  }

  &__left,
  &__right {
    border-radius: 2rem;
    @include respond(md) {
      border-radius: 1.1rem;
      background: #fff;
      height: 100%;
    }
    @include respond(2xl) {
      border-radius: 1.6rem;
    }
    @include respond(3xl) {
      border-radius: 2.2rem;
    }
  }

  &__left {
    background: #fff;
    //border-radius: 2rem;

    text-align: center;
    box-shadow: 0 4px 40px 0 rgba(17, 22, 78, 0.05);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include respond(md) {
      //box-shadow: none;
      text-align: initial;
      display: grid;
      grid-template-columns: 1fr 186px;
    }

    @include respond(lg) {
      grid-template-columns: 1fr 360px;
    }
  }

  &__content {
    padding: 1.8rem 1.5rem 3rem 1.5rem;
    @include respond(md) {
      padding: 1.5rem .5rem 1.5rem 1.7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include respond(2xl) {
      padding: 1.5rem 2.5rem;
    }
  }

  &__right {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &__image {
    position: relative;
    order: -1;
    height: 194px;
    overflow: hidden;
    //padding: 0 2rem;
    @include respond(md){
      height: initial;
      order: initial;
      //padding: 0;
      overflow: initial;
    }
    @include respond(2xl){

    }
  }

  &__image-src {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 240px;
    transition: all .2s ease;

    @include respond(md){
      position: absolute;
      display: block;
      height: 100%;
      object-fit: contain;
      object-position: center;
      right: 12px;
      max-width: 100%;

      transform: none;
      left: initial;
    }
    @include respond(2xl){
      right: 24px;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 500;
    margin: 0 0 .8rem 0;
    font-size: 1.5rem;
    @include respond(md){
      font-size: 1.75rem;
    }
    @include respond(2xl) {
      font-size: 2rem;
      margin: 0 0 1rem 0;
    }
  }
  &__text {
    color: var(--font-color-text);
    @include respond(md){
      max-width: 245px;
    }
    @include respond(2xl) {
      max-width: 514px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 60px;
    margin-top: -30px;
    border-radius: 30px;
    padding: 0 1rem;
    max-width: 320px;
    width: 100%;
    justify-content: center;

    @include respond(md){
      max-width: 100%;
      padding: 0;
      height: initial;
      background: transparent;
      border-radius: initial;
      margin-top: 0;
    }

    svg {
      width: 10px;
      @include respond(md){
        width: 15px;
      }
    }
  }

  &__link-text {
    line-height: 1;
    text-align: center;

    br {
      display: none;
      @include respond(md){
        display: block;
      }
      @include respond(lg){
        display: none;
      }
    }

    @include respond(md){
      text-decoration: underline;
    }
    @include respond(2xl){
      text-decoration: none;
      border-bottom: 1px solid var(--font-color-text);
    }
  }
}

.ticket--1 {
  @include respond(md){
    &:hover {
      .ticket__left {
        background: linear-gradient(90deg, #bcffc7 0%, #f0ffa5 100%)
      }
      .ticket__right {
        background: #f0ffa5;
      }
    }
  }

  .ticket__link {
    background: linear-gradient(90deg, #bcffc7 0%, #f0ffa5 100%);
    @include respond(md){
      background: none;
    }
  }

  .ticket__image-src {
    @include respond(md){
      top: -15px;
    }
    @include respond(2xl){
      top: 0;
    }
  }

}

.ticket--2 {
  @include respond(md){
    &:hover {
      .ticket__left {
        background: linear-gradient(to right, #cef3ff 0%, #d8d6ff 100%);
      }
      .ticket__right {
        background: #d8d6ff;
      }
    }
  }
  .ticket__inner {
    @include respond(md) {
      grid-template-columns: 1fr 160px;
    }
    @include respond(2xl) {
      grid-template-columns: 1fr 230px;
    }
  }
  .ticket__link {
    background: linear-gradient(to right, #cef3ff 0%, #d8d6ff 100%);
    @include respond(md){
      background: none;
    }
  }
  .ticket__left {
    @include respond(md){
      grid-template-columns: 1fr 226px;
    }
    @include respond(2xl){
      grid-template-columns: 1fr 310px;
    }
  }

  .ticket__image-src {
    max-width: 300px;
    bottom: -92px;
    @include respond(md){
      bottom: initial;
      object-fit: cover;
    }
    @include respond(2xl){
      max-width: 100%;
      right: 120px;
    }
  }

}

.ticket--3 {
  @include respond(md){
    &:hover {
      .ticket__left {
        background: linear-gradient(to right, #CDF3FD 0%, #CDF3FD 49%,  #e5d0fa 100%);
      }
      .ticket__right {
        background: #e5d0fa;
      }
    }
  }
  .ticket__link {
    background: linear-gradient(to right, #CDF3FD 0%, #CDF3FD 49%,  #e5d0fa 100%);
    @include respond(md){
      background: none;
    }
  }
  .ticket__image {
    padding: 0 3rem;
    @include respond(md){
      padding: 0;
    }
  }

  .ticket__image-src {
    max-width: 282px;

    @include respond(md){
      max-width: 100%;
      bottom: 10px;
    }
    @include respond(2xl){
      bottom: 0;
    }
  }
}

.order {
  &__inner {
    background-color: #fff;
    padding: 30px 12px;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    @include respond(md){
      padding: 24px;
    }
    @include respond(2xl){
      padding: 32px 40px;
      border-radius: 42px;
    }
    @include respond(3xl){
      padding: 50px;
      border-radius: 44px;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 16px;
    @include respond(xs){
      margin-bottom: 24px;
    }
  }

  &__img {
    max-width: 180px;
    height: auto;
    position: relative;
    z-index: 1;
    @include respond(md){
      max-width: 220px;
    }
  }

  &__media {
    display: flex;
    justify-content: center;
    &:after {
      content: '';
      display: block;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 320px;
      height: 270px;
      filter: blur(120px);

      @include respond(2xl){
        width: 500px;
        height: 400px;
        filter: blur(145px);
      }
    }
  }

  &__media-wrapper {

  }

  &__title {
    line-height: 1.1;
    font-size: toRem(22,16);
    font-weight: 500;
    margin-bottom: 12px;
    @include respond(xs){
      margin-bottom: 16px;
    }
    @include respond(md){
      font-size: toRem(32,20);
    }
    @include respond(2xl){
      font-size: toRem(40,20);
    }
  }

  &__text {
    color: var(--font-color-text);
    br {
      display: none;
      @include respond(md){
        display: block;
      }
    }
  }
  
  &__content {
    position: relative;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
  }

  &__submit-btn {
    width: 100%;
  }

  &__messengers {
    margin-bottom: 24px;
  }

  &__privacy {
    margin-top: 12px;
    text-align: center;
    color: var(--font-color-text);
  }

}

.input-v1 {
  display: flex;
  align-items: center;
  height: 52px;
  border-radius: 12px;
  padding: 0 24px;
  border: 1px solid transparent;
  background-color: var(--color-12);
  outline: none;
  font-size: 1rem;
  @include respond(xs){
    border-radius: 20px;
    height: 64px;
  }
  @include respond(md){
    height: 72px;
  }
  @include respond(2xl){
    padding: 0 30px;
  }
  @include respond(3xl){
    height: 80px;
    border-radius: 20px;
  }
}

.form-row {
  &__error {
    display: inline-block;
    margin-top: 6px;
    color: var(--color-11);
  }
}

.form-row--error {
  .input {
    border-color: var(--color-11);
  }
}

.input-radio {
  cursor: pointer;
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    line-height: 1;
  }
  &__text {
    user-select: none;
    display: flex;
    align-items: center;
    line-height: 1;
  }
}

.input-messengers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-12);
  border-radius: 16px;
  padding: 4px;
  .input-radio {
    height: 52px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-text);
    @include respond(xs){
      height: 62px;
      border-radius: 16px;
    }
  }
  .input-radio:has(.input-radio__input:checked) {
    background-color: #fff;
    color: var(--font-color);
  }
  .input-radio__text {
    gap: 4px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.modal--v1 {
  .order__media:after {
    background: linear-gradient(90deg, #bcffc7 0%, #f0ffa5 100%);;
  }
}

.modal--v2 {
  .order__media:after {
    background: radial-gradient(468.76% 67.94% at 14.51% 71.85%, rgb(186, 245, 255) 0%, rgb(209, 180, 255) 100%);
  }
}

.modal--v3 {
  .order__media:after {
    background: linear-gradient(140deg, #cdf3fd 0%, rgba(255, 147, 246, 0.5) 100%);
  }
}