@use '../mixins/breakpoints' as *;

@property --orbit-inner {
  syntax: '<color>';
  inherits: true;
  initial-value: rgb(255, 255, 255);
}

@property --orbit-outer {
  syntax: '<color>';
  inherits: true;
  initial-value: rgb(248, 246, 253);
}

@property --orbit-stop {
  syntax: '<length-percentage>';
  inherits: true;
  initial-value: 42%;
}

.company-model {
  &__footer {
    display: flex;
    justify-content: center;
  }
}

.orbit {
  position: relative;
  margin: auto;
  width: 100%;

  aspect-ratio: 1 / 1;

  max-width: 100%;
  height: 546px;
  overflow: hidden;

  @include respond(md){
    height: 100%;
    max-width: 680px;
    max-height: 680px;
  }

  @include respond(2xl){
    max-width: 1010px;
    max-height: 1010px;
  }

  &__item {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition:
      --orbit-inner 0.2s ease-in-out,
      --orbit-outer 0.2s ease-in-out,
      --orbit-stop 0.2s ease-in-out;

    background: radial-gradient(
        50% 50% at 50% 50%,
        var(--orbit-inner) var(--orbit-stop),
        var(--orbit-outer) 100%
    );
  }

  &__item--1 {
    // Начальное состояние
    --orbit-inner: rgb(255, 255, 255);
    --orbit-outer: rgb(248, 246, 253);
    --orbit-stop: 41.83%;

    max-width: none;
    max-height: none;
    width: 546px;
    height: 546px;
    @include respond(md){
      width: 100%;
      height: 100%;
    }


    &:hover {
      --orbit-inner: rgb(229, 163, 255);
      --orbit-outer: rgb(247, 234, 251);
      --orbit-stop: 45.68%; // Сдвигаем границу градиента
    }
    z-index: 1;

  }

  &__item--2 {
    --orbit-inner: rgb(255, 255, 255);
    --orbit-outer: rgb(238, 234, 251);
    --orbit-stop: 41.83%;

    width: 398px;
    height: 398px;

    @include respond(md){
      width: 100%;
      height: 100%;
      max-width: 494px;
      max-height: 494px;
    }

    @include respond(2xl){
      max-width: 734px;
      max-height: 734px;
    }

    &:hover {
      --orbit-inner: rgb(229, 163, 255);
      --orbit-outer: rgb(247, 234, 251);
    }
    z-index: 2;

  }

  &__item--3 {
    --orbit-inner: rgb(255, 255, 255);
    --orbit-outer: rgb(238, 234, 251);
    --orbit-stop: 41.83%;

    background-image:
            url('/images/slides/orbit/core.webp'),
            radial-gradient(
                50% 50% at 50% 50%,
                var(--orbit-inner) var(--orbit-stop),
                var(--orbit-outer) 100%
            );

    background-position: center;
    background-size: 82%, 100%; // Картинка 82%, Градиент 100%
    background-repeat: no-repeat;
    z-index: 3;

    max-width: 246px;
    max-height: 246px;

    @include respond(md){
      max-width: 304px;
      max-height: 304px;
    }

    @include respond(2xl){
      max-width: 454px;
      max-height: 454px;
    }

    //&:after {
    //  content: '';
    //  width: 300px;
    //  height: 300px;
    //  background-color: #000;
    //  position: absolute;
    //  right:  -100px;
    //  bottom: 100px;
    //  z-index: 5;
    //
    //}

  }
  
  &__station {
    //width: 300px;
    //height: 300px;
    //background-color: #000;
    //position: absolute;
    //right: 10%;
    //top: 50%;
    //z-index: 5;
  }
}

.orbit-box {
  display: none;
  position: absolute;
  left: 100px;
  top: 50%;
  z-index: 10;
  backdrop-filter: blur(20px);
  background: linear-gradient(
                  145deg,
                  rgba(180, 187, 255, 0.4) 0%,
                  rgba(180, 187, 255, 0.1) 100%
  );

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  @include respond(2xl){
    border-radius: 32px;
    max-width: 324px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    overflow: hidden;
    align-items: center;
    @include respond(2xl){
      border-radius: 32px;
      height: 116px;
    }
    @include respond(3xl){
      border-radius: 44px;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: url("/images/slides/orbit/d1.png") no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  &__title {
    line-height: 1;
    @include respond(2xl){
      padding: 0 8px 0 32px;
    }
    @include respond(3xl){
      padding: 44px;
    }
  }
  &__content {
    padding: 16px;
    @include respond(2xl){
      padding: 32px;
    }
  }
  &__list {
    @include respond(2xl){
      font-size: 18px;
    }
  }
}

.list {
  margin: 0;
  padding: 0;
}

.list-marker {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  @include respond(2xl){
    gap: 18px;
  }
  li {
    display: grid;
    grid-template-columns: 10px auto;
    gap: 12px;
    align-items: baseline;
    @include respond(2xl){
      gap: 18px;
    }
    &:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: var(--color-7);
      border-radius: 50%;
      position: relative;
      top: -4px;
    }
  }

}