@use '../mixins/breakpoints' as *;

@property --orbit-inner {
  syntax: '<color>';
  inherits: true;
  initial-value: rgb(255, 255, 255);
}

@property --orbit-outer {
  syntax: '<color>';
  inherits: true;
  initial-value: rgb(248, 246, 253);
}

@property --orbit-stop {
  syntax: '<length-percentage>';
  inherits: true;
  initial-value: 42%;
}

#smooth-wrapper {
  //overflow: hidden;
}

.company-model {
  @include respond(xs){
    //overflow: visible;
  }
  &__inner {
    //overflow: hidden;
  }
  &__header {
    position: relative;
    z-index: 2;
    margin-bottom: -20px;
    @include respond(2xl){
      margin-bottom: -40px;
    }

    .section__title {
      margin-bottom: 12px;
    }
  }
  &__header-badge {
    margin-bottom: 1rem;
    .icon-badge {
      background: linear-gradient(179deg, #f4f5fb 0%, #ebedf8 100%);
    }
  }
  &__header-text {
    br {
      display: none;
      @include respond(xs){
        display: block;
      }
    }
  }
  &__orbit {
    overflow: hidden;
    @include respond(2xl){
      position: relative;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    .btn {
      font-size: toRem(20,16);
      @include respond(3xl){
        font-size: toRem(28,24);
      }
    }
    @include respond(md){
      margin-top: -70px;
    }

    @include respond(2xl){
      margin-top: -90px;
    }
  }
}

.orbit-badge--1 {
  position: absolute;
  z-index: 10;
  left: 16px;
  top: 46%;
  @include respond(md){
    left: 18%;
    top: 46%;
  }
  @include respond(2xl){
    left: 20%;
    top: 48%;
  }
}

.orbit {
  position: relative;
  margin: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  height: 546px;
  border-radius: 50%;
  filter: blur(3px);

  @include respond(md){
    filter: none;
    height: 100%;
    max-width: 680px;
    max-height: 680px;
  }

  @include respond(2xl){
    max-width: 1010px;
    max-height: 1010px;
  }

  &__item {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition:
      --orbit-inner 0.2s ease-in-out,
      --orbit-outer 0.2s ease-in-out,
      --orbit-stop 0.2s ease-in-out;

    background: radial-gradient(
        50% 50% at 50% 50%,
        var(--orbit-inner) var(--orbit-stop),
        var(--orbit-outer) 100%
    );
  }

  &__station-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
  }

  &__item--1 {

    overflow: hidden;
    border-radius: 50%;

    // Начальное состояние
    --orbit-inner: rgb(255, 255, 255);
    --orbit-outer: rgb(248, 246, 253);
    --orbit-stop: 41.83%;

    max-width: none;
    max-height: none;
    width: 546px;
    height: 546px;
    @include respond(md){
      width: 100%;
      height: 100%;
      //@media (hover: hover){
      //  &:hover {
      //    --orbit-inner: rgb(229, 163, 255);
      //    --orbit-outer: rgb(247, 234, 251);
      //    --orbit-stop: 45.68%; // Сдвигаем границу градиента
      //  }
      //}
    }
    z-index: 1;

    // Спутник 1
    &:before {
      content: '';
      display: block;
      position: absolute;
      pointer-events: none;
      z-index: 4;
      background-image: url("/images/slides/orbit/s2.png");
      background-size: cover;
      left: -132px;
      bottom: -80px;

      width: 144px;
      height: 144px;

      @include respond(md){
        width: 210px;
        height: 210px;
        left: 20px;
        bottom: 20px;
      }

      @include respond(2xl){
        left:-14px;
        bottom: 4%;
        width: 342px;
        height: 342px;
      };
    }

  }

  &__item--2 {
    --orbit-inner: rgb(255, 255, 255);
    --orbit-outer: rgb(238, 234, 251);
    --orbit-stop: 41.83%;

    width: 398px;
    height: 398px;
    overflow: hidden;
    border-radius: 50%;

    @include respond(md){
      width: 100%;
      height: 100%;
      max-width: 494px;
      max-height: 494px;
      //overflow: initial;
      //&:hover {
      //  @media (hover: hover){
      //    --orbit-inner: rgb(229, 163, 255);
      //    --orbit-outer: rgb(247, 234, 251);
      //  }
      //}
    }

    @include respond(2xl){
      max-width: 734px;
      max-height: 734px;
    }


    z-index: 2;

    &:after {
      content: '';
      background-image: url(/images/slides/orbit/astronaut.png);
      width: 200px;
      height: 142px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: -25px;
      bottom: 14px;
      z-index: 11;
      pointer-events: none;
      @include respond(md){
        content: none;
      }

    }

    // Спутник 2
    &:after {
      @include respond(md){
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        z-index: 4;
        background-image: url("/images/slides/orbit/s1.png");
        background-size: contain;
        bottom: -40px;
        right: -44px;
        left: initial;
        width: 274px;
        height: 260px;
      }
      @include respond(2xl){
        width: 400px;
        height: 352px;
        right: -100px;
        left: initial;
        bottom: 0;
      }
    }

  }

  &__item--3 {
    --orbit-inner: rgb(255, 255, 255);
    --orbit-outer: rgb(238, 234, 251);
    --orbit-stop: 41.83%;
    background-image:
            url('/images/slides/orbit/core.webp'),
            radial-gradient(
                50% 50% at 50% 50%,
                var(--orbit-inner) var(--orbit-stop),
                var(--orbit-outer) 100%
            );

    background-position: center;
    background-size: 82%, 100%; // Картинка 82%, Градиент 100%
    background-repeat: no-repeat;
    z-index: 3;
    max-width: 246px;
    max-height: 246px;

    .orbit-badge--2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 20%;
    }

    @include respond(md){
      overflow: hidden;
      max-width: 304px;
      max-height: 304px;
    }

    @include respond(2xl){
      max-width: 454px;
      max-height: 454px;
    }

    &:before {
      @include respond(md){
        content: '';
        background-image: url("/images/slides/orbit/astronaut.png");
        background-size: cover;
        position: absolute;
        z-index: 11;
        pointer-events: none;

        display: block;
        left: -20px;
        bottom: 40px;
        width: 110px;
        height: 76px;
      }
      @include respond(2xl){
        left: -20px;
        bottom: 40px;
        width: 180px;
        height: 124px;
      }
    }

  }
  
  &__station {
    width: 300px;
    height: 300px;
    //background-color: #000;
    position: absolute;
    right: 10%;
    top: 50%;
    z-index: 5;


  }
  &__astronaut {

    height: auto;
    position: absolute;
    left: 0;
    bottom: 10%;
    @include respond(md){
      width: 118px;
      left: -14px;
    }
    @include respond(2xl){
      width: 176px;
      left: -24px;
    }
  }
  &__badge {

  }
}

.orbit-s3 {
  background-image: url("/images/slides/orbit/s3.png");
  background-size: cover;
  background-repeat: no-repeat;
  @include respond(md){
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    right: 24px;
    bottom: 0;
  }
  @include respond(2xl){
    right: 70px;
  }
  &:hover {
    filter: drop-shadow(0 0 24px rgba(235, 0, 255, 0.8));
  }
}

.orbit-badge {
  display: inline-flex;
  white-space: nowrap;
  backdrop-filter: blur(20px);
  background: linear-gradient(145deg, rgba(180, 187, 255, 0.4) 0%, rgba(180, 187, 255, 0.1) 100%);
  border-radius: 16px;
  padding: 12px 20px;
  line-height: 1;
  pointer-events: none;
  @include respond(md){
    font-size: toRem(16,20);
    border-radius: 24px;
    padding: 14px 20px;
  }
  @include respond(2xl){
    border-radius: 32px;
    padding: 16px 24px;
    font-size: toRem(20,20);
  }
}

.orbit-box {
  //display: none;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  z-index: 10;
  backdrop-filter: blur(20px);
  background: linear-gradient(
      145deg,
      rgba(180, 187, 255, 0.4) 0%,
      rgba(180, 187, 255, 0.1) 100%
  );
  max-width: 358px;
  width: 100%;
  transition: opacity .2s;
  @include respond(md){
    opacity: 0;
  }
  @include respond(2xl){
    position: absolute;
    max-width: 324px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    overflow: hidden;
    align-items: center;
    border-radius: 32px;
    height: 116px;
    @include respond(md){

    }
    @include respond(2xl){

    }
    @include respond(3xl){
      border-radius: 44px;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-position: left bottom;
      background-size: cover;
    }
  }
  &__title {
    line-height: 1;
    padding: 0 8px 0 24px;
    @include respond(2xl){
      padding: 0 8px 0 32px;
    }
    @include respond(3xl){
      padding: 44px;
    }
  }
  &__content {
    padding: 16px;
    @include respond(2xl){
      padding: 32px;
    }
  }
  &__list {
    @include respond(2xl){
      font-size: 18px;
    }
  }
}

.orbit-box--1 {
  @include respond(md){
    left: 27%;
    top: 46%;
  }
  @include respond(2xl){
    left: 22%;
    top: 46%;
  }
  .orbit-box__header:after {
    background-image: url("/images/slides/orbit/d1.webp");
  }
}
.orbit-box--2 {
  @include respond(md){
    right: 14%;
    top: 42%;
  }
  @include respond(2xl){
    right: 14%;
    top: 42%;
  }

  .orbit-box__header:after {
    background-image: url("/images/slides/orbit/d2.webp");
  }
}
.orbit-box--3 {
  @include respond(2xl){
    right: 10%;
    bottom: 0;
  }

  .orbit-box__header:after {
    background-image: url("/images/slides/orbit/d3.webp");
  }
}

.list {
  margin: 0;
  padding: 0;
}

.list-marker {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  @include respond(2xl){
    gap: 18px;
  }
  li {
    display: grid;
    grid-template-columns: 10px auto;
    gap: 12px;
    align-items: baseline;
    @include respond(2xl){
      gap: 18px;
    }
    &:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: var(--color-7);
      border-radius: 50%;
      position: relative;
      top: -4px;
    }
  }

}

.orbit-stream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 100vh;
  padding-right: 12px;
  padding-left: 12px;

  @include respond(2xl){
    padding: 0;
  }
}

.company-model--1 {
  .orbit__item--1 {
    --orbit-inner: rgb(229, 163, 255);
    --orbit-outer: rgb(247, 234, 251);
    --orbit-stop: 45.68%;
  }
  .orbit-box--1 {
    opacity: 1;
  }
}

.company-model--2 {
  .orbit__item--2  {
    --orbit-inner: rgb(229, 163, 255);
    --orbit-outer: rgb(247, 234, 251);
    --orbit-stop: 45.68%;
  }
  .orbit-box--2 {
    opacity: 1;
  }
}

.company-model--3 {
  .orbit-box--3 {
    opacity: 1;
  }
}