@use '../mixins/breakpoints' as *;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 1.2;
  @include respond(xxs){
    font-size: 16px;
  }
  @include respond(2xl){
    font-size: 20px;
  }
  @include respond(3xl){
    font-size: 24px;
  }
  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Cygre', ui-sans-serif, -apple-system,"Segoe UI", Helvetica, sans-serif;
  color: var(--font-color);
  line-height: 1.2;
}

.container {
  width: 100%;
  padding-inline: 12px;
  margin-inline: auto;

  @include respond(xs)  {
    //max-width: 480px;
    padding-inline: 16px;
  }
  @include respond(sm)  {
    //max-width: 576px;
  }
  @include respond(md)  {
    padding-inline: 30px;
    //max-width: 768px;
  }
  @include respond(lg)  {
    //max-width: 992px;
  }
  @include respond(xl)  {
    max-width: 1200px;
  }
  @include respond(2xl)  {
    max-width: 1440px;
    padding-inline: 60px;
  }
  @include respond(3xl) {
    max-width: 1920px;
    padding-inline: 80px;
  }
}

.container--full {
  padding: 0;
  max-width: 1920px;
}

.img {
  display: block;
  max-width: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link--underline {
  text-decoration: underline;
}

.link--color {
  transition: color .2s ease;
  &:hover {
    color: var(--font-color-accent);
  }
}

.link--color-2 {
  color: var(--font-color-accent);
  &:hover {
    color: var(--color-main);
  }
}

.link--icon {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  &:before {
    content: '';
    display: inline-block;
    width: .65em;
    height: .65em;

    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7768 15.3195L15.3195 7.7768M4.94747 10.6048L3.06214 12.4901C2.56688 12.9854 2.17402 13.5734 1.90599 14.2204C1.63795 14.8675 1.5 15.5611 1.5 16.2615C1.5 16.9619 1.63795 17.6554 1.90599 18.3025C2.17402 18.9496 2.56688 19.5375 3.06214 20.0328C3.5574 20.5281 4.14535 20.9209 4.79244 21.189C5.43953 21.457 6.13307 21.5949 6.83347 21.5949C7.53387 21.5949 8.22742 21.457 8.8745 21.189C9.52159 20.9209 10.1095 20.5281 10.6048 20.0328L12.4875 18.1475M10.6035 4.94747L12.4888 3.06214C12.9841 2.56688 13.572 2.17402 14.2191 1.90599C14.8662 1.63795 15.5597 1.5 16.2601 1.5C16.9605 1.5 17.6541 1.63795 18.3012 1.90599C18.9483 2.17402 19.5362 2.56688 20.0315 3.06214C20.5267 3.5574 20.9196 4.14535 21.1876 4.79244C21.4557 5.43953 21.5936 6.13307 21.5936 6.83347C21.5936 7.53387 21.4557 8.22742 21.1876 8.8745C20.9196 9.52159 20.5267 10.1095 20.0315 10.6048L18.1461 12.4901' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7768 15.3195L15.3195 7.7768M4.94747 10.6048L3.06214 12.4901C2.56688 12.9854 2.17402 13.5734 1.90599 14.2204C1.63795 14.8675 1.5 15.5611 1.5 16.2615C1.5 16.9619 1.63795 17.6554 1.90599 18.3025C2.17402 18.9496 2.56688 19.5375 3.06214 20.0328C3.5574 20.5281 4.14535 20.9209 4.79244 21.189C5.43953 21.457 6.13307 21.5949 6.83347 21.5949C7.53387 21.5949 8.22742 21.457 8.8745 21.189C9.52159 20.9209 10.1095 20.5281 10.6048 20.0328L12.4875 18.1475M10.6035 4.94747L12.4888 3.06214C12.9841 2.56688 13.572 2.17402 14.2191 1.90599C14.8662 1.63795 15.5597 1.5 16.2601 1.5C16.9605 1.5 17.6541 1.63795 18.3012 1.90599C18.9483 2.17402 19.5362 2.56688 20.0315 3.06214C20.5267 3.5574 20.9196 4.14535 21.1876 4.79244C21.4557 5.43953 21.5936 6.13307 21.5936 6.83347C21.5936 7.53387 21.4557 8.22742 21.1876 8.8745C20.9196 9.52159 20.5267 10.1095 20.0315 10.6048L18.1461 12.4901' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    mask-size: 100%;
  }
}

.section {
  padding: 32px 0;
  @include respond(2xl) {
    padding: 64px 0;
  }

  &__header {
    text-align: center;
    margin-bottom: 40px;
  }
  &__title {
    font-weight: 500;
    margin: 0;
    line-height: 1;
    font-size: toRem(34, 16);
    @include respond(md) {
      font-size: toRem(40, 16);
    }
    @include respond(2xl) {
      font-size: toRem(56, 20);
      //margin: 0 0 2.2rem 0;
      margin: 0 0 1rem 0;
    }
    @include respond(3xl) {
      font-size: toRem(72, 24);
    }
  }
  &__text {
    line-height: 1.2;
    max-width: 860px;
    margin: 0 auto;
  }
  &__badge {
    margin-bottom: 24px;
  }
}

.section--v1 {
  background: #eceefa;
}

.section--v2 {
  background: #f7f8fd;
}

.section--v3 {
  background: linear-gradient(180deg, var(--color-3) 0%, #f0f2ff 25%, #fff 75%, #fff 100%);
  @include respond(md){
    background: linear-gradient(180deg, var(--color-3) 0%, #f0f2ff 25%, #ebedf9 75%, #fff 100%);
  }
}

.section--v4 {
  background: linear-gradient(180deg, #fff 0%, #f7f8fd 25%, #f0f2ff 75%, #ebedf9 78.1%, #eceefa 100%);
}

.section--v5 {
  background: linear-gradient(180deg, #fff 0%, #cbd6ff 96.63%);
}

.section--v6 {
  background: #fff;
}

.section--v7 {
  background: var(--color-3);
}

.section--v8 {
  background: linear-gradient(180deg, #f7f8fd 0%, #f7f8fd 25%, #ebedf9 75%, #fff 100%);
}

.section--v9 {
  background: linear-gradient(180deg, #eceefa 0%, #eceefa 50%, #ebedf9 75%, #fff 100%);
}

