@use '../mixins/breakpoints' as *;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  @include respond(2xl){
    font-size: 20px;
  }
  @include respond(3xl){
    font-size: 24px;
  }
  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  //background-color: #e6eaf7;
  font-family: 'Cygre', ui-sans-serif, -apple-system,"Segoe UI", Helvetica, sans-serif;
  color: var(--font-color);
  //font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  width: 100%;
  padding-inline: 12px;
  margin-inline: auto;

  @include respond(xs)  {
    //max-width: 480px;
    padding-inline: 16px;
  }
  @include respond(sm)  {
    //max-width: 576px;
  }
  @include respond(md)  {
    padding-inline: 30px;
    //max-width: 768px;
  }
  @include respond(lg)  {
    max-width: 992px;
  }
  @include respond(2xl)  {
    max-width: 1440px;
    padding-inline: 60px;
  }
  @include respond(3xl) {
    max-width: 1920px;
    padding-inline: 80px;
  }
}

.container--full {
  padding: 0;
  max-width: 1920px;
}

.img {
  display: block;
  max-width: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link--color {
  color: var(--font-color-accent);
}