@font-face {
  font-family: 'Cygre';
  src: url('/assets/fonts/Cygre-Medium.woff2') format('woff2'),
  url('/assets/fonts/Cygre-Medium.woff') format('woff');
  font-weight: 500; /* Regular */
  font-style: normal;
  font-display: swap;
}