
:root {
  --color-main: #101651;
  --font-color: #101651;
  --font-color-text: rgba(16, 22, 81, 0.55);
  --font-color-accent: #5b58e1;;
  --card-box-shadow: 0 4px 62px 0 rgba(17, 22, 78, 0.05);;
}