:root {
  --color-main: #101651;
  --font-color: #101651;
  --font-color-text: rgba(16, 22, 81, 0.55);
  --font-color-accent: #5b58e1;

  --color-1: #D1D8FF;
  --color-2: #5b58e1;
  --color-3: #e7eaf7;
  --color-4: #00f700;
  --color-5: #eaedfd;
  --color-6: #eceefa;
  --color-7: #FF00F1;
  --color-8: #232fa0;

  --border-radius-xs: 28px;
  --border-radius-md: 28px;
  --border-radius-2xl: 32px;
  --border-radius-3xl: 44px;

  //--card-box-shadow: 0 4px 62px 0 rgba(17, 22, 78, 0.05);
  --card-box-shadow:
          0 2px 4px 0 rgba(17, 22, 78, 0.04),   /* Резкий контур */
          0 8px 24px -4px rgba(17, 22, 78, 0.08); /* Мягкий объем */
}